

/* ================= TYPOGRAPHY ================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--blue);
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Font: Times Header */
.times-header {
  font-family: 'Times New Roman', Times, serif;
  font-size: 4em;
  font-weight: 400;
  line-height: auto;

}

/* Font: Information */
.type-information,
.tag-header h2,
.post-header h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 100%;
}

/* Font: Headline 2 */
.type-headline-2 {
  font-size: 2.25rem;
}
/* Font: Headline 4 */
.type-headline-4 {
  font-size: 1.125rem;
  line-height: 1.875rem;
}
/* Font: Caption */
.type-caption {
  font-size: 1.5rem;

}

/* ================= END: TYPOGRAPHY ================= */

/* ================= HYPERLINKS ================= */
a {
  color: #171717;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}
a:visited {
  color: #171717;
}

/* ================= END HYPERLINKS ================= */

/* ================= GRID ================= */

.grid-1-8 {
  grid-column: 1 / 8;
}

/* ================= END GRID ================= */

/* ================= LAYOUT ================= */

.header-image img {
  width: 100%;
} 
.summary {
  display: flex;
  flex-wrap: wrap;
}
.summary > h2 {
  width: 95%;
}
.summary > .post-date {
  width: 5%;
}
article {
  margin-bottom: 48px;
}

/* ================= END: LAYOUT ================= */