/* Legacy 6-column grid utilities (temporary; remove after migration). */

/* Grid Templates */
[class*="grid-template-"] {
  column-gap: 1.5rem;
  display: grid;
}

.grid-template-2-col {
  grid-template-columns: repeat(2, 1fr);
}

.grid-template-3-col {
  grid-template-columns: repeat(3, 1fr);
}

/* Grid Span Utilities */
.grid-1 {
  grid-column: span 1;
}

.grid-2 {
  grid-column: span 2;
}

.grid-3 {
  grid-column: span 3;
}

.grid-4 {
  grid-column: span 4;
}

.grid-5 {
  grid-column: span 5;
}

.grid-6 {
  grid-column: span 6;
}

/* Grid Position Utilities */
.grid-1-2 {
  grid-column: 1 / span 2;
}

.grid-3-4 {
  grid-column: 3 / span 2;
}

.grid-5-6 {
  grid-column: 5 / span 2;
}

.grid-1-3 {
  grid-column: 1 / span 3;
}

.grid-1-4 {
  grid-column: 1 / span 4;
}

.grid-1-5 {
  grid-column: 1 / span 5;
}

.grid-1-6 {
  grid-column: 1 / span 6;
}
