/* Grid utilities for subgrid migration */

.page-grid {
  display: grid;
  grid-template-columns:
    [full-start] var(--size-page-margins)
    [content-start] repeat(12, [col-start] 1fr) [content-end]
    var(--size-page-margins) [full-end];
  column-gap: var(--spacing-24);
  row-gap: var(--spacing-32);
}

.use-subgrid {
  display: grid;
  grid-column: content-start / content-end;
}

@supports not (grid-template-columns: subgrid) {
  .use-subgrid {
    grid-template-columns: repeat(12, [col-start] 1fr);
    column-gap: var(--spacing-24);
  }
}

@supports (grid-template-columns: subgrid) {
  .use-subgrid {
    grid-template-columns: subgrid;
  }
}

/* sm: <= 47.9375em */
@media (max-width: 47.9375em) {
  @supports not (grid-template-columns: subgrid) {
    .use-subgrid {
      grid-template-columns: repeat(4, [col-start] 1fr);
      column-gap: var(--spacing-16);
    }
  }
}

.col-full { grid-column: full-start / full-end; }
.col-content { grid-column: content-start / content-end; }

.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: var(--spacing-24);
  row-gap: var(--spacing-24);
}

.col-span-1 { grid-column-end: span 1; }
.col-span-2 { grid-column-end: span 2; }
.col-span-3 { grid-column-end: span 3; }
.col-span-4 { grid-column-end: span 4; }
.col-span-5 { grid-column-end: span 5; }
.col-span-6 { grid-column-end: span 6; }
.col-span-7 { grid-column-end: span 7; }
.col-span-8 { grid-column-end: span 8; }
.col-span-9 { grid-column-end: span 9; }
.col-span-10 { grid-column-end: span 10; }
.col-span-11 { grid-column-end: span 11; }
.col-span-12 { grid-column-end: span 12; }

.col-start-1 { grid-column-start: 1; grid-column-start: col-start 1; }
.col-start-2 { grid-column-start: 2; grid-column-start: col-start 2; }
.col-start-3 { grid-column-start: 3; grid-column-start: col-start 3; }
.col-start-4 { grid-column-start: 4; grid-column-start: col-start 4; }
.col-start-5 { grid-column-start: 5; grid-column-start: col-start 5; }
.col-start-6 { grid-column-start: 6; grid-column-start: col-start 6; }
.col-start-7 { grid-column-start: 7; grid-column-start: col-start 7; }
.col-start-8 { grid-column-start: 8; grid-column-start: col-start 8; }
.col-start-9 { grid-column-start: 9; grid-column-start: col-start 9; }
.col-start-10 { grid-column-start: 10; grid-column-start: col-start 10; }
.col-start-11 { grid-column-start: 11; grid-column-start: col-start 11; }
.col-start-12 { grid-column-start: 12; grid-column-start: col-start 12; }
