/**
 * Icon Utilities
 * SVG mask-based icons with consistent sizing
 */

/* ==========================================================================
   Base Icon Styles
   ========================================================================== */

.d-block-light,
.d-block-dark,
.d-block-system,
.download-icon,
.pdf-icon,
.theme-icon,
.curl-icon,
.curl-icon-bold,
.arrow-left {
  display: block;
  content: " ";
  height: 1.5rem;
  width: 1.5rem;
  color: var(--text-default);
}

/* SVGs inside icon containers should fill the container */
.pdf-icon svg,
.download-icon svg,
.theme-icon svg,
.curl-icon svg,
.curl-icon-bold svg,
.arrow-left svg {
  width: 100%;
  height: 100%;
}

/* ==========================================================================
   Specific Icon Masks
   ========================================================================== */

.theme-icon {
  mask-image: url("/img/svg/theme-icon-16.svg");
  -webkit-mask-image: url("/img/svg/theme-icon-16.svg");
}

/* Allow dropdown theme icon to render its inline SVG without masking. */
.theme-dropdown .theme-icon {
  mask-image: none;
  -webkit-mask-image: none;
  background: none;
}

.arrow-left {
  mask-image: url("/img/svg/arrow-left.svg");
  -webkit-mask-image: url("/img/svg/arrow-left.svg");
}
