#main.client-main {
    width: 100%;
}

.content.client article:nth-of-type(odd) {
    grid-column: 1 / span 1;
}

.content.client article:nth-of-type(even) {
    grid-column: 2 / span 1;
}


.client-sidebar {
    margin-left: 1.5rem;
}

#layout .content.client .about-cv {
    margin-top: 0;
}

.content.client .about-cv .curl-icon {
    display: none;
}

#layout .content.client .contact-form {
    margin: 0;
    margin-bottom: var(--spacing-64);
}

#layout .content.client .contact-info {
    margin: 0;
    margin-bottom: var(--spacing-32);
}

.company_name {
    display: none;
}

/* min 1280px Large */
@media (max-width: 80em) {
    #main.client-main {
        width: 100%;
    }
}

/* min 1024px Medium */
@media (max-width: 79.9375em) {
    #main.client-main {
        width: 100%;
    }
}

@media (max-width: 47.9375em) {
    .content.client article:nth-of-type(n + 1) {
        grid-column: 1 / span 2;
    }
}

/* min 768px Small  */
@media (max-width: 63.9375em) {

    .client-maincolumn,
    .client-sidebar {
        margin-left: 0;
        grid-column: span 6;
    }
}

/* Download box on client page */
.download-box {
    padding: 1rem 1.5rem;
    background-color: var(--box-background);
}

.download-box>* {
    transition: color 0.3s ease;
}

.download-box:hover>div {
    color: var(--text-color-hover);
    transition: color 0.3s ease;
}

.download-box:hover>.download-item {
    color: var(--text-color-hover);
    transition: color 0.3s ease;
}

.download-container {
    grid-row: span 5;
}

p.download-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}