baseurl = "https://www.tor-bjorn.com/"
languageCode = "en-us"
title = "Torbjörn Hedberg · Multidisciplinary Designer"
author = "Torbjörn Hedberg"
canonifyurls = true
relativeURLs = false
preserveTaxonomyNames = true

[pagination]
  pagerSize = 10

[module]
  [[module.mounts]]
    source = "static"
    target = "static"

[taxonomies]
  tag = "tags"
  category = "categories"
  client = "clients"
  employer = "employers"
  topic = "topics"

[related]
  includeNewer = true
  threshold = 80
  toLower = false

  [[related.indices]]
    name = "tags"
    weight = 100

  [[related.indices]]
    name = "clients"
    weight = 100

  [[related.indices]]
    name = "employers"
    weight = 100

[minify]
  disableXML = true
  minifyOutput = true

DefaultContentLanguage = "en"

[languages]
  [languages.en]
    languageName = "English"
    languageCode = "en"
    weight = 1
    contentDir = "content/english"
    [languages.en.params]
      title = "Torbjörn Hedberg · Multidisciplinary Designer"
      description = "Hello there. I’m a multidisciplinary designer. For over 10 years I’ve moved between strategy and craft. I’ve helped organizations navigate from concept to finished product by combining design, business value and technology."
    [[languages.en.menu.start]]
      name = "home"
      weight = 1
      identifier = "home"
      url = "/"
    [[languages.en.menu.all]]
      name = "all"
      weight = 2
      identifier = "works"
      url = "/works/"
    [[languages.en.menu.top]]
      name = "Works"
      weight = 2
      identifier = "works"
      url = "/#works"
    [[languages.en.menu.top]]
      name = "About me"
      weight = 3
      identifier = "about"
      url = "/about"
    [[languages.en.menu.top]]
      name = "contact"
      weight = 4
      identifier = "contact"
      url = "/contact"

  [languages.sv]
    languageName = "Svenska"
    languageCode = "sv-SE"
    weight = 2
    contentDir = "content/swedish"
    [languages.sv.params]
      title = "Torbjörn Hedberg · Multidisciplinär designer"
      description = "Hej! Jag är en multidisciplinär designer. I över 10 år har jag rört mig mellan strategi och hantverk. Jag har hjälpt organisationer från idé till färdig produkt genom att kombinera design, affärsvärde och teknik."
    [[languages.sv.menu.start]]
      name = "hem"
      weight = 1
      identifier = "home"
      url = "/"
    [[languages.sv.menu.all]]
      name = "alla"
      weight = 2
      identifier = "works"
      url = "/arbeten/"
    [[languages.sv.menu.top]]
      name = "Arbeten"
      weight = 2
      identifier = "works"
      url = "/#works"
    [[languages.sv.menu.top]]
      name = "Om mig"
      weight = 3
      identifier = "about"
      url = "/sv/om"
    [[languages.sv.menu.top]]
      name = "kontakt"
      weight = 4
      identifier = "contact"
      url = "/sv/kontakt"

[permalinks]
  works = '/:slug/:title/'
  writing = '/:slug/:title/'
  texter = '/:slug/:title/'
  tags = "/:slug/tags/:title/"

[params]
  # Shown in the home page
  subtitle = "Portfolio"
  brand = "tor-bjorn.com"
  dateFormat = "02 Jan 2006, 15:04"
  mainSections = ['writing', 'texter', 'works']

[markup]
  [markup.goldmark]
    [markup.goldmark.extensions]
      definitionList = true
      footnote = true
      linkify = true
      linkifyProtocol = 'https'
      strikethrough = true
      table = true
      taskList = true
      typographer = true
    [markup.goldmark.parser]
      autoHeadingID = false
      autoHeadingIDType = 'github'
      wrapStandAloneImageWithinParagraph = false
      [markup.goldmark.parser.attribute]
        block = true
        title = true
    [markup.goldmark.renderer]
      hardWraps = true
      unsafe = false
      xhtml = false
