baseurl = "https://www.tor-bjorn.com/"
languageCode = "en-us"
title = "Torbjörn Hedberg · Designer"
author = "Torbjörn Hedberg"
canonifyurls = true
relativeURLs = true
preserveTaxonomyNames = true

[pagination]
  pagerSize = 10

[module]
  [[module.mounts]]
    source = "static"
    target = "static"

[taxonomies]
  tag = "tags"
  category = "categories"
  client = "clients"
  employer = "employers"
  topic = "topics"

[related]
  includeNewer = true
  threshold = 80
  toLower = false

  [[related.indices]]
    name = "tags"
    weight = 100

  [[related.indices]]
    name = "clients"
    weight = 100

  [[related.indices]]
    name = "employers"
    weight = 100

[minify]
  disableXML = true
  minifyOutput = true

DefaultContentLanguage = "en"

[languages]
  [languages.en]
    languageName = "English"
    weight = 1
    contentDir = "content/english"
    [languages.en.params]
      title = "Torbjörn Hedberg · Designer"
      description = "Torbjörn Hedberg is a graphic designer based in Gothenburg, Sweden. Available for freelance work & collaborations."
    [[languages.en.menu.start]]
      name = "home"
      weight = 1
      identifier = "home"
      url = "/"
    [[languages.en.menu.all]]
      name = "all"
      weight = 2
      identifier = "works"
      url = "/works/"
    [[languages.en.menu.top]]
      name = "about"
      weight = 3
      identifier = "about"
      url = "/about/"
    [[languages.en.menu.top]]
      name = "contact"
      weight = 4
      url = "/contact/"

  [languages.sv]
    languageName = "Svenska"
    weight = 2
    contentDir = "content/swedish"
    [languages.sv.params]
      title = "Torbjörn Hedberg · Designer"
      description = "Torbjörn Hedberg är en grafiskt designer verksam i Göteborg. Tillgänglig för frilansuppdrag och sammarbeten."
    [[languages.sv.menu.start]]
      name = "hem"
      weight = 1
      identifier = "home"
      url = "/"
    [[languages.sv.menu.all]]
      name = "alla"
      weight = 2
      identifier = "works"
      url = "/arbeten/"
    [[languages.sv.menu.top]]
      name = "om"
      weight = 3
      identifier = "about"
      url = "/om/"
    [[languages.sv.menu.top]]
      name = "kontakt"
      weight = 4
      url = "/kontakt/"

[permalinks]
  works = '/:slug/:title/'
  tags = "/:slug/tags/:title/"

[params]
  # Shown in the home page
  subtitle = "Portfolio"
  brand = "tor-bjorn.com"
  googleAnalytics = "G-B270MQG9GZ"
  dateFormat = "02 Jan 2006, 15:04"
  mainSections = ['blog', 'docs']

[markup]
  [markup.goldmark]
    [markup.goldmark.extensions]
      definitionList = true
      footnote = true
      linkify = true
      linkifyProtocol = 'https'
      strikethrough = true
      table = true
      taskList = true
      typographer = true
    [markup.goldmark.parser]
      autoHeadingID = false
      autoHeadingIDType = 'github'
      [markup.goldmark.parser.attribute]
        block = true
        title = true
    [markup.goldmark.renderer]
      hardWraps = true
      unsafe = false
      xhtml = false