.application-main {
    width: 100%;
}


.application-page__sidebar {
    margin-left: 1.5rem;
}

#layout .content.application-page .about-cv {
    margin-top: 0;
}

.content.application-page .about-cv .curl-icon {
    display: none;
}

#layout .content.application-page .contact-form {
    margin: 0;
    margin-bottom: var(--spacing-64);
}

#layout .content.application-page .contact-info {
    margin: 0;
    margin-bottom: var(--spacing-32);
}

.application-page__company {
    display: none;
}

/* lg: <= 79.9375em */
@media (max-width: 79.9375em) {
    .application-main {
        width: 100%;
    }
}

/* md: <= 63.9375em */
@media (max-width: 63.9375em) {

    .application-page__main,
    .application-page__sidebar {
        margin-left: 0;
        grid-column: col-start 1 / span 12;
    }
}

/* Download box on client page */
.download-card {
    padding: 1rem 1.5rem;
    background-color: var(--bg-surface);
    background-image: none;
}

.download-card>* {
    transition: color 0.3s ease;
}

.download-card:hover>div {
    color: var(--text-link-hover);
    transition: color 0.3s ease;
}

.download-card:hover {
    background-image: linear-gradient(var(--state-on-light-hover), var(--state-on-light-hover));
}

:root[data-mode="dark"] .download-card:hover {
    background-image: linear-gradient(var(--state-on-dark-hover), var(--state-on-dark-hover));
}

.download-card:hover>.download-card__item {
    color: var(--text-link-hover);
    transition: color 0.3s ease;
}

.download-list {
    grid-row: span 5;
}

p.download-card__item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
