<div class="tags-menu side-menu__section">
  <h2 class="tags-menu__title type-headline-small">{{ i18n "Works"}}</h2>
  <ul class="tags-menu__list nav-list">

    {{ $urlall := .RelPermalink }}
    {{ range .Site.Menus.all }}
        <li class="tags-menu__item nav-item">
          <a class="tags-menu__link nav-link {{ if eq $urlall (.URL | relLangURL ) }}active{{ end }}" title="{{ .Name }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        </li>
    {{end}}


    {{ $currentURL := .Permalink }}
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        {{ with $.Site.GetPage  (printf "/tags/%s" $name) }}
            <li class="tags-menu__item nav-item"><a class="tags-menu__link nav-link {{ if eq $currentURL .Permalink }}active{{ end }}" title="{{ replace $name "-" " " }}" href="{{ .Permalink }}">{{ lower .Title }}
              </a>
            </li>
        {{ end }}
    {{ end }}

  </ul>
</div>
