<div class="settings-panel side-menu__section">
  <h2 class="type-headline-small">{{ i18n "Settings" }}</h2>
  <ul class="settings-panel__list nav-list">
    <li class="settings-panel__item {{ if .IsTranslated }}settings-panel__item--translated{{ end }}">
      {{ if gt (len .Site.Languages) 1 }}
        <nav aria-label="Language switcher">
          <ul class="lang-toggle">
            {{ range .Site.Languages }}
              {{ if eq . $.Site.Language }}
                <li>
                  <span
                    class="d-none"
                    aria-label="{{ i18n "ariaLanguage" }}{{ .LanguageName }}"
                    >{{ .LanguageName }}</span
                  >
                </li>
              {{ end }}
            {{ end }}
            <ul aria-labelledby="dropdown-title">
              {{ range $.Translations }}
                <li>
                  <a
                    title="{{ .Language.LanguageName }}"
                    class="gap-xs"
                    href="{{ .Permalink }}"
                    aria-label="{{ i18n "ariaTranslation" }}{{ .Language.LanguageName }}"
                  >
                    <!-- SVG icons here -->
                    {{ .Language.LanguageName }}</a
                  >
                </li>
              {{ end }}
            </ul>
          </ul>
        </nav>
      {{ end }}
    </li>
    <li class="settings-panel__item">
      <div class="palette-switcher">
        <button
          class="palette-switcher__toggle nav-link font-sans font-medium text-sm gap-xs"
          data-js="palette-toggle"
          type="button"
        >
          <!-- Button code -->
          <span class="d-block-standard d-none">Standard</span>
          <span class="d-block-pant d-none">Pantone</span>
        </button>
      </div>
    </li>
  </ul>
</div>
