.header {
  font-family: "Helvetica Neue", Arial, sans-serif
}

#menu, #main, body, #topmenu, path.hyphen {
  transition: stroke 0.2s ease, color 0.2s ease, background-color 0.2s ease, transform 0.2s ease;
}

.small-print {
  font-size: 0.8em;
  margin: 0.6em 0;
}

.post-meta {
  font-size: 90%;
}

article > footer {
  text-align: right;
}

.prev-next-post {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.prev-next-post .prev {
  float: left;
  text-align: left;
  overflow: hidden;
}

.prev-next-post .next {
  float: right;
  text-align: right;
  overflow: hidden;
}

i {
  display: inline-block;
  margin-right: 0.2em;
}

.pagination {
  text-align: center;
  margin-top: 3em;
}

.pagination a {
  color: #265778;
}


/*
OLD SIDE-MENU CSS
*/

body {
  background-color: var(--bg-color);
}
img,
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/*
Add transition to containers so they can push in and out.

#main,
#layout,
#menu,
.menu-link {
    transition: background-color 0.2s ease,
    transform 0.5s ease-in-out;
}
*/

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  flex-basis: auto;
}

/*
The content `<div>` is where all your content goes.
*/
.content {
  margin-bottom: 4rem;
  line-height: 1.6em;
  padding-top: 5rem;
  grid-column: 1 / span 6;
}
.startpage-heading {
  padding-top: 5rem;
}
#main,
.content.startpage,
.content.post {
  grid-template-columns: repeat(6, 1fr);
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  display: grid;
}
#main {
  padding: 0 2rem;
  float: right;
  width: calc(100% - var(--menu-width-xlarge) - 2rem*2); 
}
.content.post > * {
  grid-column: 1 / span 5;
}
.content.post > figure.headerimg,
.content.post > .prev-next-post {
  grid-column: 1 / span 6;
}
/* ================= GRID ================= */

.grid-1-8 {
  grid-column: 1 / 5;
}

/* ================= END GRID ================= */

/* ================= LAYOUT ================= */

.header-image {
  line-height: 0;
}

.header-image img {
  width: 100%;
}

.content>.post-date {
  margin-bottom: 1rem;
}

article {
  margin-bottom: 3rem;
}

.content.post>* {
  grid-column: 1 / span 5;
}

/* Layout topmenu alignment*/
#topmenu .menu {
  margin-top: 0.275rem;
}

/* ================= END: LAYOUT ================= */

#topmenu {
  position:-webkit-sticky;
  position:sticky;
  top:0px;
  z-index: 100;
  height: auto;
  width:100%;
  margin: 0px;
  display: flex;
  background-color: var(--bg-color);
  padding: 1.5rem 2rem;
}

#topmenu ul.menu-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#topmenu li.menu-item {
  margin-left: 32px;
}
#topmenu li.menu-menubutton {
  margin-left: 1rem;
  display: none;
  margin-top: 0.24rem;
}
#topmenu li.menu-item {
  flex: 1;
}
a.menu-heading {
  flex: 1;
  text-transform: lowercase;
}
.pure-menu-disabled, .menu-heading, .pure-menu-link {
  padding: 0;
}

:root {
  --menu-width-xlarge: 24rem; /* 320 px + padding 2x2rem */
  --menu-width-large: 20rem; /* 256 px + padding 2x2rem */
  --menu-width-medium: 16rem; /* 192 px + padding 2x2rem */
}
#menu {
  width: var(--menu-width-xlarge);
  display: block;
  padding: 0 2rem;
  z-index: 99; /* so the menu or its navicon stays above all content */
  box-sizing: border-box;
}
a.menu-link {
  display: block;
}
#menu #menu-content {
  position: -webkit-sticky;
  position: sticky;
  top: calc(77px + 5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#menu li.menu-list,
ul.pure-menu-list {
  list-style-type: none;
  padding: 0 0 0rem;
  margin: 0;
}
#menu li.menu-item,
li.pure-menu-item {
  list-style-type: none;
  padding: 0 0 1rem;
  margin: 0;
}
#menu h2.type-headline-small {
  padding: 2rem 0 1rem;
}
#menu .topmenuitems {
  display: none;
}
  /*
  This styles the menu heading.
  */
  #menu .menu-heading {
      font-size: 110%;
      color: var(--text-color);
      margin: 0;
  }
  a.menu-heading:hover {
    text-decoration: none;
    color: var(--text-color);
  }

/* Client box end of post */
.content.post > .client-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 2rem;
    background-color: var(--box-background);
    grid-column: 1 / span 6;
    grid-column-gap: 2rem;
  }

/* Related works articles */

  article#related:first-of-type {
    grid-column: 1 / span 2;
  }
  article#related:nth-of-type(2) {
    grid-column: 3 / span 2;
  }
  article#related:nth-of-type(3) {
    grid-column: 5 / span 2;
  }

/* Startpage articles */
.content.startpage article:first-of-type {
  grid-column: 1 / span 4;
}
.content.startpage article:first-of-type h2.text-2xl {
  font-size: var(--text-2xl);
}
.content.startpage article:nth-of-type(2) {
  grid-column: 5 / span 2;
}
.content.startpage article:nth-of-type(2) h2.text-2xl {
  font-size: var(--text-xl);
}
.content.startpage article:nth-of-type(3) {
  grid-column: 2 / span 4;
}

/* Button */

[type=button]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

button {
  background: var(--text-color);
  color: var(--bg-color);
  padding: 0.5rem 1rem;
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s ease;
}
button.icon:after {
  display: block;
  content: ' ';
  background-size: 1rem 1rem;
  height: 1rem;
  width: 1rem;
  background-color: var(--bg-color);
  mask-image: url('https://tor2dbear.github.io/portfolio/img/arrow-right.svg');
  -webkit-mask-image: url('https://tor2dbear.github.io/portfolio/img/arrow-right.svg');
  margin-left: 0.75rem;
  transition: all 0.3s ease;
} 
button:hover {
  padding-right: 0.75rem;
}
button.icon:hover:after {
  margin-left: 1rem;
}

/* Darkmode buttons */

button#darkmode-toggle {
  padding: 0;
  margin: 0;
  border: none;
  color: var(--text-color);
  background-color: transparent;
}
.d-block-light, .d-block-dark {
  display: block;
  content: ' ';
  background-size: 1.5rem 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--text-color);
  transition: background-color 0.3s ease;
} 
.d-block-light {
  mask-image: url('https://tor2dbear.github.io/portfolio/img/light-mode-dark-light.svg');
  -webkit-mask-image: url('https://tor2dbear.github.io/portfolio/img/light-mode-dark-light.svg');
}
.d-block-dark {
  mask-image: url('https://tor2dbear.github.io/portfolio/img/brightness.svg');
  -webkit-mask-image: url('https://tor2dbear.github.io/portfolio/img/brightness.svg');
}
#darkmode-toggle .d-none {
  display: none;
}
[data-theme='light'] .d-block-light,
[data-theme='dark'] .d-block-dark {
    display: block !important;
}

/* Theme buttons */

button#theme-toggle {
  padding: 0;
  margin: 0;
  border: none;
  color: var(--text-color);
  background-color: transparent;
  font-size: var(--text-sm);
}
[data-mode='standard'] .d-block-pant,
[data-mode='pant'] .d-block-standard {
    display: none;
}

/* Menu button */
li.top-menu-menubutton {
  display: none;
}
.hamburgare {
  display: block;
  content: ' ';
  background-size: 1.5rem 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--text-color);
}
a.menu-link .hamburgare {
  mask-image: url('https://tor2dbear.github.io/portfolio/img/navigation-menu.svg');
  -webkit-mask-image: url('https://tor2dbear.github.io/portfolio/img/navigation-menu.svg');
}
a.menu-link.active .hamburgare {
  mask-image: url('https://tor2dbear.github.io/portfolio/img/close.svg');
  -webkit-mask-image: url('https://tor2dbear.github.io/portfolio/img/close.svg');
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 0.5rem;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 1.5px;
  background-color: var(--text-color);
  margin-top: 0.25rem;
}
.curl {
  transform: translateY(-5.5px);
}
.brand-hyphen {
  height: 0.21875rem;
  background-color: var(--text-color);
  width: 0.6rem;
  margin-top: 0.25rem;
}
.brandcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Images */

img {
  -webkit-filter: grayscale(var(--img-grayscale));
  -moz-filter: grayscale(var(--img-grayscale));
  filter: grayscale(var(--img-grayscale));
  mix-blend-mode: var(--img-blend-mode);
  }
.headerimg img {
  width: 100%;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/* 1280px */
@media (max-width: 80em) {
  #menu {
    width: var(--menu-width-large);
  }
  #main {
    width: calc(100% - var(--menu-width-large) - 2rem*2);
  }
}

/* 1024px */
@media (max-width: 64em) {
  #menu {
    width: var(--menu-width-medium);
  }
  #main {
    width: calc(100% - var(--menu-width-medium) - 2rem*2);
  }
  .content.post > * {
    grid-column: 1 / span 6;
  }
}

/* 768px */
@media (max-width: 48em) {
  body.active {
    overflow: hidden;
  }

  #menu {
    position: fixed;
    top: 0;
    bottom: 0;
    transform: translate(-100vw, 0px);
    width: 100%;
    background-color: var(--bg-color);
    margin-top: 0;
    padding: 0;
    overflow-y: scroll;
  }
  
  #menu.active{
    transform: translate(0px, 0px);
    padding: 0 2rem;
  }

  #layout.active > #main {
    transform: translate(100vw, 0px);
  }
  :not(body.active) #topmenu.bottom-line {    
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--border-header);
  }

  /* Menu color */
 #menu, #main, body {
    transition: background-color 0.2s ease, transform 0.2s ease;
  }
  #topmenu {
    transition: background-color 0.2s ease, transform 0.2s ease, top 0.2s ease; /* top for menu hide/show */
  }
  #layout.active, body.active {
    --text-color: var(--text-color-menu);
    --bg-color: var(--background-color-menu);
  }
  #layout.active #topmenu {
    top: 0px !important;
  }

  #topmenu li.menu-menubutton {
    display: block;
  }
  #topmenu .topmenuitems {
    display: none;
  }
  #menu ul.menu-list {
    display: block;
  }
  #menu li.menu-item {
    margin: 0;
    padding: 0 0 1rem;
    margin: 0;
  }
  #menu .topmenuitems {
    display: block;
  }
  #main {
    width: 100%;
  }
  .grid-1-8 {
    grid-column: 1 / span 6;
  }
  .content.startpage article:nth-of-type(n+1) {
    grid-column: 1 / span 6;
  }
  article#related:nth-of-type(n+1) {
    grid-column: 1 / span 6;
  }
  .content.post > * {
    grid-column: 1 / span 6;
  }
  .content.post > .client-box {
    grid-template-columns: 1fr;
  }
  #topmenu .menu,
  #topmenu li.menu-menubutton {
    margin-top: 0;
  }
  .progress-bar {
    display: none;
  }
  .brand-hyphen {
    width: 1rem;
    margin-right: 0.08rem;
  }
  
}
@media (max-width: 25.5em) {
  
}