{{ partial "header.html" . }}

<div class="content post use-subgrid">
  <h1 class="type-headline-1 mt-0 mb-0 reveal">{{ .Title }}</h1>
  <div class="reveal">{{ partial "date.html" . }}</div>

  {{ if .Description }}
  <h2 class="type-lead reveal">{{ .Description }}</h2>
  {{ end }}

  <div class="reveal">{{ partial "post_tags.html" . }}</div>

  <div class="post-content prose">
    {{ .Content }}
  </div>

  <div class="reveal">
    {{ partial "prev_next_post.html" . }}
  </div>
</div>

{{ partial "footer.html" . }}
