<article>
  <header class="summary">
    <div class="header-image">
      <a href="{{ .Permalink }}">
        {{.Scratch.Set "src" (.Resources.GetMatch (printf "*%s*" .Params.header_image)) }}
        {{ $src := .Scratch.Get "src" }}
        
        {{ .Scratch.Set "small" ($src.Resize "414x") }}
        {{ .Scratch.Set "medium" ($src.Resize "680x") }}
        
        {{ $small := .Scratch.Get "small" }}
        {{ $medium := .Scratch.Get "medium" }}
        
        <img
          itemprop="image"
          sizes="(max-width: 414px) 414px, 680px"
          srcset="{{ $small.RelPermalink }} 414w, {{ $medium.RelPermalink }} 680w, {{ $src.RelPermalink }} 2x"
          alt="{{ .Title }}" 
          scr="{{ .Params.header_image }}"
          /></a>
    </div>

    <h2
      style="font-weight: var(--sans-weight-bold)"
      class="text-2xl line-height-normal text-color-default tracking-normal mt-12 mb-12"
    >
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>

    <h4
      class="text-xs line-height-normal font-normal text-color-lighter tracking-wide mb-12"
    >
      {{ partial "date.html" . }}
    </h4>
  </header>
  {{ partial "post_tags.html" . }}
</article>
