<article>
  <header class="summary-card">
    <div class="summary-card__image header-image">
      <a href="{{ .Permalink }}?view=employer{{ with $.Parent.Params.company_name }}&ref={{ . }}{{ end }}"
        >{{ partial "headerimage.html" . }}</a
      >
    </div>

    <h2 class="summary-card__title">
      <a href="{{ .Permalink }}?view=employer{{ with $.Parent.Params.company_name }}&ref={{ . }}{{ end }}"
        >{{ .Title }}{{ if isset .Params "subtitle" }}
          –
        {{ end }}{{ .Params.subtitle }}</a
      >
    </h2>

    <div class="summary-card__meta">
      {{ partial "date.html" . }}
    </div>
  </header>
  {{ partial "post_tags.html" . }}
</article>
