@media print {

    /* All your print styles go here */
    #header,
    #footer,
    #nav,
    .application-breadcrumb,
    .palette-switcher,
    .mode-switcher,
    .download-list,
    .contact-form,
    .content.post .toc,
    .application-page__section--portfolio,
    ul.toc :nth-child(3),
    ul.toc :nth-child(5) {
        display: none !important;
    }

    .application-page__section--letter {
        page-break-after: always;
    }

    #layout .mb-64,
    .mb-64 {
        margin-bottom: 1.5rem;
    }

    p {
        font-size: 12pt;
    }

    .text-base {
        font-size: 10pt;
    }

    .section-headline {
        margin-top: 2rem;
    }

    .section-headline {
        color: var(--bg-section-headline);
        display: inline-block;
        background-color: white;
        border: 2pt solid var(--bg-section-headline);
        font-weight: bold;
    }

    .tag {
        background-color: white;
        border: 1pt solid var(--text-muted);
    }
}


@page {
    size: a4;
    margin: 7mm 5mm;
}
