/* Remove empty p-tags */
p:empty {
  display: none;
}

.hide-above-sm {
  display: none;
}


body {
  background-color: var(--bg-color);
}



/* Darkmode transition. */

body.darkmodeTransition,
body.darkmodeTransition :is(#menu, #main, #topmenu, path.hyphen, .curl-icon-bold, button, .brand, .progress-bar, #menu :is(a.menu-link, small, .type-headline-small, #button#theme-toggle)) {
  transition: stroke 1s cubic-bezier(0.075, 0.82, 0.165, 1),
    border-color 1s cubic-bezier(0.075, 0.82, 0.165, 1),
    color 1s cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#layout {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  flex-basis: auto;
}

.content {
  margin-bottom: var(--spacing-160);
  line-height: 1.6em;
  padding-top: 5rem;
  grid-column: 1 / span 6;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
}

.startpage-heading {
  padding-top: 5rem;
}

#main,
.content,
.about-cv {
  grid-template-columns: repeat(6, 1fr);
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
  display: grid;
}

#main {
  padding: 0 2rem;
  float: right;
  width: calc(100% - var(--menu-width-xlarge) - 2rem * 2);
  opacity: 1;
  position: relative;
}

#main.client-main {
  width: 100%;
}

.content.post>* {
  grid-column: 1 / span 5;
}

.content.post>figure.headerimg,
#main .content.post>figure:first-of-type,
.content.post>.prev-next-post {
  grid-column: 1 / span 6;
}


.tag-header {
  grid-column: inherit;
}

/* ================= END GRID ================= */

/* Images */

img {
  max-width: 100%;
  height: auto;
  -webkit-filter: grayscale(var(--img-grayscale));
  -moz-filter: grayscale(var(--img-grayscale));
  filter: grayscale(var(--img-grayscale));
  mix-blend-mode: var(--img-blend-mode);
}

.headerimg img {
  width: 100%;
}

picture {
  position: relative;
  display: block;
}

picture::after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--colors-accent-900);
  top: 0;
  z-index: -1;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.header-image {
  line-height: 0;
  -webkit-filter: contrast(1);
  filter: contrast(1);
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
}

.header-image img {
  width: 100%;
}

picture>img {
  display: block;
}

.post figure {
  margin-bottom: var(--spacing-32);
}

/* remove <br> introduced by render-image */
.post figure+br {
  display: none;
}

.content.about>figure {
  grid-column: 4 / span 3;
}

.content.about>figure img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

/* ================= LAYOUT ================= */

article {
  margin-bottom: 3rem;
}

.about-cv {
  grid-column: 1 / span 6;
}

/* ================= END: LAYOUT ================= */

/* Topmenu */

#topmenu {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
  height: 4.5rem;
  width: 100%;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: var(--bg-color);
  padding: 1.5rem 2rem;
  align-items: baseline;
  box-sizing: border-box;
  column-gap: 1.5rem;
  transition: border-color 0.5s ease;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--bg-color);
}

#topmenu ul.menu-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#topmenu li.menu-item+li.menu-item {
  margin-left: 1.5rem;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 2px;
  background-color: var(--text-color);
}

#hyphen-left {
  margin-top: 13px;
}

#hyphen-right {
  margin-top: 15px;
}

.brand {
  display: flex;
  flex-direction: row;
  position: relative;
}

a#brand-link {
  height: 2rem;
  min-width: 11rem;
  position: absolute;
}

:not(#layout.active)>#topmenu.bottom-line {
  border-color: var(--border-header);
}

/* Sidemenu */

:root {
  --menu-width-xlarge: 24rem;
  /* 320 px + padding 2x2rem */
  --menu-width-large: 20rem;
  /* 256 px + padding 2x2rem */
  --menu-width-medium: 16rem;
  /* 192 px + padding 2x2rem */
  --header-height: 4.5rem;
  --header-height-neg: 0rem;
  --progressbarcorrection: 5.4;
  /* Rem occupied by tor, bjorn.com and curl */
}

#menu {
  width: var(--menu-width-xlarge);
  display: block;
  padding: 0 2rem;
  z-index: 99;
  /* so the menu or its navicon stays above all content */
  box-sizing: border-box;
}

#menu li.menu-item {
  padding: 0 0 1rem;
}

#menu #menu-content {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5rem;
  top: var(--header-height);
}

#menu h2.type-headline-small {
  padding: 2rem 0 1rem;
}

/* Articles */
header.summary:hover a {
  color: var(--text-color-hover);
}

header.summary:hover .header-image {
  -webkit-filter: contrast(1.2);
  filter: contrast(1.2);
  transition: -webkit-filter 1s ease;
  transition: filter 1s ease;
  transition: filter 1s ease, -webkit-filter 1s ease;
}

/* Startpage */
.content:is(.startpage) article:nth-of-type(1),
.content:is(.startpage) article:nth-of-type(5) {
  grid-column: 1 / span 4;
}

.content:is(.startpage) article:nth-of-type(4) {
  grid-column: 3 / span 4;
}

.content:is(.startpage) article:nth-of-type(1) h2.text-2xl,
.content:is(.startpage) article:nth-of-type(4) h2.text-2xl,
.content:is(.startpage) article:nth-of-type(5) h2.text-2xl {
  font-size: var(--text-2xl);
}

.content:is(.startpage) article:nth-of-type(2),
.content:is(.startpage) article:nth-of-type(6) {
  grid-column: 5 / span 2;
}

.content:is(.startpage) article:nth-of-type(3) {
  grid-column: 1 / span 2;
}

.content:is(.startpage) article:nth-of-type(2) h2.text-2xl,
.content:is(.startpage) article:nth-of-type(3) h2.text-2xl,
.content:is(.startpage) article:nth-of-type(6) h2.text-2xl {
  font-size: var(--text-xl);
}

/* Listpage */
.content.list article:nth-of-type(odd) {
  grid-column: 1 / span 3;
}

.content.list article:nth-of-type(even) {
  grid-column: 4 / span 3;
}

.content.list article:nth-last-of-type(1):nth-of-type(odd) {
  grid-column: 1 / span 6;
}

/* Post pages */
.content.post>* {
  grid-column: 1 / span 5;
}

.content.post {
  max-width: 64rem;
}

/* Client box end of post */
.content.post>.client-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 2rem;
  background-color: var(--box-background);
  grid-column: 1 / span 6;
  grid-column-gap: 2rem;
}

/* Related works articles */
article#related {
  grid-column: span 2;
}

/* Table of content */
:target {
  display: block;
  position: relative;
  top: -4.5rem;
  visibility: hidden;
}

/* Client page */
#layout.clientpage>div#menu {
  display: none;
}

#layout.clientpage .hide-on-client {
  display: none;
}

#layout:not(.clientpage) .show-on-client {
  display: none;
}

#layout.clientpage #main {
  width: 100%;
}

.client-sidebar {
  margin-left: 1.5rem;
}

#layout .content.client .about-cv {
  margin-top: 0;
}

.content.client .about-cv .curl-icon {
  display: none;
}

#layout .content.client .contact-form {
  margin: 0;
  margin-bottom: var(--spacing-64);
}

#layout .content.client .contact-info {
  margin: 0;
  margin-bottom: var(--spacing-32);
}

.clientpage .content.post {
  margin: 0 auto;
  margin-bottom: var(--spacing-160);
}

nav.client-breadcrumb ul {
  list-style: none;
}

nav.client-breadcrumb ul li {
  display: inline;
}

nav.client-breadcrumb ul li+li:before {
  content: "/";
  padding: var(--spacing-8);
  color: var(--text-color-lighter);
}

.company_name {
  display: none;
}

/* Download box on client page */
.download-box {
  padding: 1rem 1.5rem;
  background-color: var(--box-background);
}

.download-box>* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download-box:hover>div {
  background-color: var(--text-color-hover);
  transition: background-color 0.3s ease;
}

.download-box:hover>.download-item {
  color: var(--text-color-hover);
  transition: color 0.3s ease;
}

.download-container {
  grid-row: span 5;
}

p.download-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Clientpage */
.content.client article:nth-of-type(odd) {
  grid-column: 1 / span 1;
}

.content.client article:nth-of-type(even) {
  grid-column: 2 / span 1;
}

/* Icons */

.hamburgare,
.d-block-light,
.d-block-dark,
.download-icon,
.pdf-icon,
.theme-icon,
.curl-icon,
.curl-icon-bold,
.arrow-left {
  display: block;
  content: " ";
  background-size: 1.5rem 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--text-color);
}

a.menu-link .hamburgare {
  mask-image: url("/portfolio/img/svg/navigation-menu.svg");
  -webkit-mask-image: url("/portfolio/img/svg/navigation-menu.svg");
}

a.menu-link.active .hamburgare {
  mask-image: url("/portfolio/img/svg/close.svg");
  -webkit-mask-image: url("/portfolio/img/svg/close.svg");
}

.d-block-dark {
  mask-image: url("/portfolio/img/svg/brightness.svg");
  -webkit-mask-image: url("/portfolio/img/svg/brightness.svg");
}

.d-block-light {
  mask-image: url("/portfolio/img/svg/light-mode-dark-light.svg");
  -webkit-mask-image: url("/portfolio/img/svg/light-mode-dark-light.svg");
}

.curl-icon {
  mask-image: url("/portfolio/img/svg/curl-icon.svg");
  -webkit-mask-image: url("/portfolio/img/svg/curl-icon.svg");
}

.curl-icon-bold {
  mask-image: url("/portfolio/img/svg/curl-icon-bold.svg");
  -webkit-mask-image: url("/portfolio/img/svg/curl-icon-bold.svg");
}

.theme-icon {
  mask-image: url("/portfolio/img/svg/theme-icon-16.svg");
  -webkit-mask-image: url("/portfolio/img/svg/theme-icon-16.svg");
}

.pdf-icon {
  mask-image: url("/portfolio/img/svg/pdf.svg");
  -webkit-mask-image: url("/portfolio/img/svg/pdf.svg");
}

.download-icon {
  mask-image: url("/portfolio/img/svg/download.svg");
  -webkit-mask-image: url("/portfolio/img/svg/download.svg");
}

.arrow-left {
  mask-image: url("/portfolio/img/svg/arrow-left.svg");
  -webkit-mask-image: url("/portfolio/img/svg/arrow-left.svg");
}

/* Button */

[type="button"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

button {
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 0.5rem 1rem;
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: margin-left 0.3s ease, padding 0.3s ease;
}

button.icon:after {
  display: block;
  content: " ";
  background-size: 1rem 1rem;
  height: 1rem;
  width: 1rem;
  background-color: var(--bg-color);
  mask-image: url("https://tor2dbear.github.io/portfolio/img/arrow-right.svg");
  -webkit-mask-image: url("https://tor2dbear.github.io/portfolio/img/arrow-right.svg");
  margin-left: 0.75rem;
  transition: margin-left 0.3s ease, padding 0.3s ease;
}

button:hover {
  padding-right: 0.75rem;
}

button.icon:hover:after {
  margin-left: 1rem;
}

/* Darkmode buttons */

button#darkmode-toggle {
  padding: 0;
  margin: 0;
  border: none;
  color: var(--text-color);
  background-color: transparent;
}

#darkmode-toggle .d-none {
  display: none;
}

[data-theme="light"] .d-block-light,
[data-theme="dark"] .d-block-dark {
  display: block !important;
}

.d-block-light:hover,
.d-block-dark:hover {
  background-color: var(--text-color-hover);
}

/* Theme and languge buttons */
ul.lang-toggle a,
button#lang-toggle,
button#theme-toggle {
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: var(--text-color);
  font-size: var(--text-sm);
  text-align: start;
  font-weight: var(--sans-weight-bold);
}

ul.lang-toggle a:before,
button#lang-toggle:before,
button#theme-toggle:before {
  display: block;
  content: " ";
  background-size: 1rem 1rem;
  height: 1rem;
  width: 1rem;
  background-color: var(--text-color);
  mask-image: url("/portfolio/img/svg/theme-icon-16.svg");
  -webkit-mask-image: url("/portfolio/img/svg/theme-icon-16.svg");
  margin-right: 0.5rem;
  transition: margin-left 0.3s ease, padding 0.3s ease;
}

ul.lang-toggle a:before,
button#lang-toggle:before {
  mask-image: url("/portfolio/img/svg/lang-icon-16.svg");
  -webkit-mask-image: url("/portfolio/img/svg/lang-icon-16.svg");
}

[data-mode="standard"] .d-block-standard,
[data-mode="pant"] .d-block-pant {
  display: none;
}

button#lang-toggle>.d-block-standard {
  display: block;
}

button#lang-toggle>.d-block-pant {
  display: none;
}

ul.lang-toggle .d-none {
  display: none;
}

ul.lang-toggle a {
  display: flex;
}

/* Forms */
label {
  font-family: var(--font-sans);
  font-weight: var(--sans-weight-regular);
  font-size: var(--text-xs);
  letter-spacing: var(--tracking-wider);
  color: var(--text-color);
  margin-bottom: var(--spacing-8);
  display: inline-block;
  line-height: var(--line-height-normal);
}

input,
.form-input {
  color: var(--text-color);
  font-family: var(--font-sans);
  font-weight: var(--sans-weight-regular);
  font-size: var(--text-sm);
  border-radius: 0px;
  line-height: 22px;
  background-color: var(--form-bg);
  border: 0px solid var(--form-border);
  transition: all 0.3s;
  padding: var(--spacing-12);
  margin: 0;
  margin-bottom: var(--spacing-8);
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  mix-blend-mode: luminosity;
}

input:last-of-type {
  margin-bottom: var(--spacing-0);
}

.form-input:focus {
  border: 0px solid var(--form-border);
}

.form-input::-webkit-input-placeholder {
  color: var(--form-placeholder);
  opacity: 0;
}

.form-input::-moz-placeholder {
  color: var(--form-placeholder);
  opacity: 0;
}

.form-input:-ms-input-placeholder {
  color: var(--form-placeholder);
  opacity: 0;
}

.form-input::-ms-input-placeholder {
  color: var(--form-placeholder);
  opacity: 0;
}

.form-input::placeholder {
  color: var(--form-placeholder);
  opacity: 0;
}

textarea {
  height: 150px;
  line-height: var(--line-height-normal);
  resize: vertical;
}

.content.post form p,
.content.page form p {
  margin-bottom: 0;
}

/* Newsletter */

div#newsletter-container {
  display: flex;
}

div#newsletter-signup {
  float: left;
  width: 50%;
  background-color: var(--newsletter-signup-bg);
  padding: 2rem;
  box-sizing: border-box;
  color: var(--newsletter-color);
}

div#newsletter-signup :is(p, h2, label) {
  color: var(--newsletter-color);
}

.newsletter-illustration {
  float: right;
  background-color: var(--newsletter-illustration-bg);
  width: 50%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}

.newsletter-mask {
  mask-image: url("/portfolio/img/svg/curl-vertical.svg");
  -webkit-mask-image: url("/portfolio/img/svg/curl-vertical.svg");
  background-color: var(--newsletter-signup-bg);
  width: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  mask-position: center;
}

/* Input button */
input#mc-embedded-subscribe {
  width: auto;
  background-color: var(--newsletter-button-background);
  color: var(--newsletter-button-color);
  padding: 0.5rem 1rem;
  -webkit-appearance: none;
  border-radius: 0;
  margin-top: var(--spacing-0);
  margin-bottom: var(--spacing-0);
}

div#newsletter-container {
  display: flex;
  grid-column: 1 / span 6;
}

/* Error message */
.mc-field-group {
  display: inline-block;
  height: 102px;
  /* Height includes error message and margin-bottom */
  width: 100%;
}

input#mce-EMAIL.mce_inline_error {
  border: solid 1px var(--color-error);
  background-color: var(--color-error-light);
  mix-blend-mode: normal;
}

div.mce_inline_error,
div#mce-responses {
  font-size: var(--text-xs);
  text-align: start;
  line-height: var(--line-height-normal);
}

div#mce-responses {
  margin-top: var(--spacing-8);
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/* min 1280px Large */
@media (max-width: 80em) {
  #menu {
    width: var(--menu-width-large);
  }

  #main {
    width: calc(100% - var(--menu-width-large) - 2rem * 2);
  }

  #main.client-main {
    width: 100%;
  }
}

/* min 1024px Medium */
@media (max-width: 79.9375em) {
  #menu {
    width: var(--menu-width-medium);
  }

  #main {
    width: calc(100% - var(--menu-width-medium) - 2rem * 2);
  }

  #main.client-main {
    width: 100%;
  }

  .content.post>* {
    grid-column: 1 / span 6;
  }

  article#related:nth-of-type(1) {
    grid-column: 1 / span 3;
  }

  article#related:nth-of-type(2) {
    grid-column: 4 / span 3;
  }

  article#related:nth-of-type(3) {
    display: none;
  }

  .grid-1-5 {
    grid-column: 1 / span 6;
  }

  .contact-form.grid-1-3 {
    grid-column: 1 / span 4;
  }
}

/* min 768px Small  */
@media (max-width: 63.9375em) {
  body.active {
    overflow: hidden;
  }

  #menu {
    position: fixed;
    top: 0;
    bottom: 0;
    transform: translate(-100vw, 0px);
    width: 100vw;
    background-color: var(--bg-color);
    margin-top: 0;
    padding: 0;
    overflow-y: auto;
  }

  .hide-above-sm {
    display: block;
  }

  /* Set topmenu to fixed when menu is open */
  #layout.active #topmenu.bottom-line {
    position: fixed;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  #menu::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  #menu {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  #layout.active #menu {
    transform: translate(0px, 0px) !important;
    /* !important for ipad rotation */
  }

  #layout.active #main {
    transform: translate(100vw, 0px) !important;
    /* !important for ipad rotation */
  }

  /* Disable zoom out on menu active */
  #layout.active {
    overflow: hidden;
  }

  #layout.active #menu {
    transform: translate(0px, 0px);
    padding: 0 2rem;
  }

  #layout.active #main {
    transform: translate(100vw, 0px);
    opacity: 0;
  }

  body #menu a.menu-link:hover {
    color: var(--text-color-menu-hover);
  }

  :not(#layout.active)>#topmenu.bottom-line {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--border-header);
  }

  #topmenu {
    transition: transform 0.5s ease;
  }

  body.active {
    --text-color: var(--text-color-menu);
    --bg-color: var(--background-color-menu);
    --theme-toggle-bg: var(--theme-toggle-menu-bg);
    --theme-toggle-bg-active: var(--theme-toggle-menu-bg-active);
    --theme-toggle-text: var(--theme-toggle-menu-text);
    --theme-toggle-text-active: var(--theme-toggle-menu-text-active);
    --theme-toggle-text-passive: var(--theme-toggle-menu-text-passive);
  }

  #menu #menu-content {
    padding-top: 9.5rem;
    padding-bottom: 5rem;
    position: initial;
  }

  #topmenu li.menu-menubutton {
    display: block;
  }

  #menu ul.menu-list {
    display: block;
  }

  #main {
    width: 100%;
  }

  .grid-1-5 {
    grid-column: 1 / span 6;
  }

  /* Startpage articles */

  .content:is(.startpage) article:nth-of-type(odd) {
    grid-column: 1 / span 3;
  }

  .content:is(.startpage) article:nth-of-type(even) {
    grid-column: 4 / span 3;
  }

  .content.post>* {
    grid-column: 1 / span 6;
  }

  .content.post>.client-box {
    grid-template-columns: 1fr;
  }

  #topmenu .menu,
  #topmenu li.menu-menubutton {
    margin-top: 0;
  }

  .brand-hyphen {
    width: 1rem;
    margin-right: 0.08rem;
  }

  div#newsletter-signup {
    width: 66.67%;
  }

  .newsletter-illustration {
    width: 33.33%;
  }

  /* Clientpage */
  .client-maincolumn,
  .client-sidebar {
    margin-left: 0;
    grid-column: span 6;
  }

  /* Menu transition. */

  body.menuTransition,
  body.menuTransition :is(#menu, #topmenu, #main, .curl-icon-bold, .brand, .progress-bar) {
    transition: color 0.75s cubic-bezier(0.075, 0.82, 0.165, 1),
      transform 0.75s cubic-bezier(0.075, 0.82, 0.165, 1),
      border-color 0.75s cubic-bezier(0.075, 0.82, 0.165, 1),
      background-color 0.75s cubic-bezier(0.075, 0.82, 0.165, 1),
      opacity 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

/* X-Small */
@media (max-width: 47.9375em) {
  :root {
    --header-height-neg: -4.5rem;
  }

  #topmenu.relative {
    position: relative;
  }

  #topmenu :is(.brand) {
    transform: translate3d(0, -0.3125rem, 0);
  }

  #topmenu.hide {
    transform: translateY(var(--header-height-neg));
  }

  .content:is(.startpage) article:nth-of-type(n + 1) {
    grid-column: 1 / span 6;
  }

  .content.client article:nth-of-type(n + 1) {
    grid-column: 1 / span 2;
  }

  .about-main.grid-1-3,
  .about-cv :is(.grid-1-2, .grid-3-4, .grid-5-6),
  article#related:nth-of-type(n + 1) {
    grid-column: 1 / span 6;
  }

  .progress-bar {
    display: none;
  }

  #brand-link {
    width: 11rem !important;
  }

  .hide-on-xs {
    display: none;
  }

  div#newsletter-signup {
    width: 100%;
  }

  .newsletter-illustration {
    width: 0%;
    display: none;
  }

  .contact-form.grid-1-3 {
    grid-column: 1 / span 6;
  }

  .contact-info.grid-5-6 {
    grid-column: 3 / span 4;
  }

  .content.list article:nth-last-of-type(odd),
  .content.list article:nth-last-of-type(even) {
    grid-column: 1 / span 6;
  }

  #layout .content:is(.startpage) article h2.text-2xl,
  #layout .content.list.tag article h2.text-2xl {
    font-size: var(--text-xl);
  }

  /* Topmenu zoom fix menu active */
  #layout.active>div#topmenu {
    position: fixed;
  }

  /* Table of content */
  :target {
    top: -2rem;
  }
}