/**
 * Newsletter Component
 * Newsletter signup with illustration - 12-column grid layout
 * Includes form styling and MailChimp validation states
 */

/* ==========================================================================
   Newsletter Grid Container
   ========================================================================== */

.newsletter {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  column-gap: 0;
  width: 100%;
}

/* ==========================================================================
   Newsletter Signup Section
   ========================================================================== */

.newsletter__signup {
  grid-column: col-start 1 / span 6;
  background-color: var(--component-newsletter-bg);
  padding: 2rem;
  box-sizing: border-box;
  color: var(--component-newsletter-text);
}

.newsletter__signup :is(p, h2, label) {
  color: var(--component-newsletter-text);
}

.newsletter__title {
  margin: 0 0 var(--spacing-8);
}

.newsletter__text {
  margin: 0 0 var(--spacing-24);
}

.required.email.form-input {
  margin-top: var(--spacing-8);
}

/* ==========================================================================
   Newsletter Illustration Section
   ========================================================================== */

.newsletter__illustration {
  grid-column: col-start 7 / span 6;
  background-color: var(--component-newsletter-illustration-bg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}

.newsletter__mask {
  mask-image: url("/img/svg/curl-vertical.svg");
  -webkit-mask-image: url("/img/svg/curl-vertical.svg");
  background-color: var(--component-newsletter-bg);
  width: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  mask-position: center;
}

/* ==========================================================================
   Newsletter Submit Button
   ========================================================================== */

.newsletter__submit {
  width: auto;
  background-color: var(--component-newsletter-button-bg);
  color: var(--component-newsletter-button-text);
  font-size: var(--text-lg);
  font-family: var(--font-sans);
  font-weight: var(--sans-weight-medium);
  padding: 0.5rem 1rem;
  -webkit-appearance: none;
  border-radius: 0;
  margin-top: var(--spacing-0);
  margin-bottom: var(--spacing-0);
}

/* ==========================================================================
   MailChimp Form Validation
   ========================================================================== */

/* Error message container */
.mc-field-group {
  display: inline-block;
  height: 102px;
  /* Height includes error message and margin-bottom */
  width: 100%;
}

/* Error state input */
input#mce-EMAIL.mce_inline_error {
  border: solid 1px var(--status-error-border);
  background-color: var(--status-error-bg);
  mix-blend-mode: normal;
}

/* Error and response messages */
div.mce_inline_error,
div#mce-responses {
  font-size: var(--text-xs);
  text-align: start;
  line-height: var(--line-height-normal);
}

div#mce-responses {
  margin-top: var(--spacing-8);
}

/* ==========================================================================
   Responsive Layout
   ========================================================================== */

/* Small screens */
@media (max-width: 63.9375em) {
  .newsletter {
    grid-template-columns: repeat(4, [col-start] 1fr);
  }

  .newsletter__signup {
    grid-column: col-start 1 / span 4;
  }

  .newsletter__illustration {
    display: none;
  }
}
