/**
 * Tooltip Component
 * Hoverable tooltips with multiple positioning options
 * Supports: top, bottom, top-start, top-end, bottom-start, bottom-end
 */

/* ==========================================================================
   Tooltip Base
   ========================================================================== */

.tooltip {
  --tooltip-bg: var(--surface-inverse);

  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--tooltip-bg);
  color: var(--text-inverse);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* ==========================================================================
   Tooltip Positions - Top
   ========================================================================== */

.tooltip[data-position="top"] .tooltiptext {
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip[data-position="top"] .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--tooltip-bg) transparent transparent transparent;
}

.tooltip[data-position="top-start"] .tooltiptext {
  bottom: 125%;
  left: 0;
  transform: translateX(0);
}

.tooltip[data-position="top-start"] .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--tooltip-bg) transparent transparent transparent;
}

.tooltip[data-position="top-end"] .tooltiptext {
  bottom: 125%;
  right: 0;
  transform: translateX(0);
}

.tooltip[data-position="top-end"] .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--tooltip-bg) transparent transparent transparent;
}

/* ==========================================================================
   Tooltip Positions - Bottom
   ========================================================================== */

.tooltip[data-position="bottom"] .tooltiptext {
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  bottom: auto;
}

.tooltip[data-position="bottom"] .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--tooltip-bg) transparent;
  top: auto;
}

.tooltip[data-position="bottom-start"] .tooltiptext {
  top: 125%;
  left: 0;
  transform: translateX(0);
}

.tooltip[data-position="bottom-start"] .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--tooltip-bg) transparent;
}

.tooltip[data-position="bottom-end"] .tooltiptext {
  top: 125%;
  right: 0;
  transform: translateX(0);
}

.tooltip[data-position="bottom-end"] .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 10%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--tooltip-bg) transparent;
}
