<div class="about-cv reveal">
  <div class="about-cv__icon curl-icon"></div>

  <h3 class="about-cv__title type-headline-3">
    {{ if eq site.Language.Lang "sv" }}
      Vad jag har gjort
    {{ else }}
      What I've been up to
    {{ end }}
  </h3>

  <div class="about-cv__columns">
    <p class="about-cv__seclabel">{{ if eq site.Language.Lang "sv" }}Arbete{{ else }}Work{{ end }}</p>
    <div class="about-cv__timeline">
      {{ partial "about_cv_work.html" . }}
    </div>

    <p class="about-cv__seclabel">{{ if eq site.Language.Lang "sv" }}Överblick{{ else }}Overview{{ end }}</p>
    <div class="about-cv__overview">
      {{ partial "about_cv_aside.html" . }}
    </div>
  </div>
</div>
