<div class="brand">
  <a
    class="brand__link"
    data-js="brand-link"
    data-focus-ignore="true"
    title="Home"
    href="{{ .Site.BaseURL | relLangURL }}"
  >
    <span class="brand__word brand__word--lead" data-brand-part="true">/toːr</span>
    <svg
      class="brand__mark"
      data-js="brand-mark"
      data-brand-part="true"
      viewBox="0 0 140 24"
      aria-hidden="true"
    >
      <line
        class="brand__mark-line brand__mark-line--left"
        data-js="brand-line-left"
        x1="0"
        y1="14"
        x2="0"
        y2="14"
      />
      {{- $curl := index site.Data "brand-curl" -}}
      {{- $base := $curl.base -}}
      {{- $baseHold := $curl.base_hold | default 10 -}}
      {{- $transition := $curl.transition | default 0.5 -}}
      {{- $altHold := $curl.alt_hold | default 2 -}}
      {{- $dynamicSteps := $curl.dynamic_steps | default 4 -}}
      {{- $variants := $curl.variants | default (slice) -}}
      {{- $values := slice $base -}}
      {{- $times := slice 0.0 -}}
      {{- $t := 0.0 -}}
      {{- range $variants -}}
        {{- $t = add $t $baseHold -}}
        {{- $values = $values | append $base -}}
        {{- $times = $times | append $t -}}
        {{- $t = add $t $transition -}}
        {{- $values = $values | append .d -}}
        {{- $times = $times | append $t -}}
        {{- if eq .type "dynamic" -}}
          {{- $altA := .d -}}
          {{- $altB := .d_alt | default .d -}}
          {{- $stepDur := div (float $altHold) (float $dynamicSteps) -}}
          {{- range $i, $_ := seq $dynamicSteps -}}
            {{- $t = add $t $stepDur -}}
            {{- if eq (mod $i 2) 0 -}}
              {{- $values = $values | append $altB -}}
            {{- else -}}
              {{- $values = $values | append $altA -}}
            {{- end -}}
            {{- $times = $times | append $t -}}
          {{- end -}}
        {{- else -}}
          {{- $t = add $t $altHold -}}
          {{- $values = $values | append .d -}}
          {{- $times = $times | append $t -}}
        {{- end -}}
        {{- $t = add $t $transition -}}
        {{- $values = $values | append $base -}}
        {{- $times = $times | append $t -}}
      {{- end -}}
      <g
        data-js="brand-loop"
        data-curl-base="{{ $base | base64Encode }}"
        data-curl-variants="{{ $variants | jsonify | base64Encode }}"
        data-curl-random="{{ $curl.randomize | default false }}"
        data-curl-base-min="{{ $curl.base_hold_min | default $baseHold }}"
        data-curl-base-max="{{ $curl.base_hold_max | default $baseHold }}"
        data-curl-transition-min="{{ $curl.transition_min | default $transition }}"
        data-curl-transition-max="{{ $curl.transition_max | default $transition }}"
        data-curl-alt-min="{{ $curl.alt_hold_min | default $altHold }}"
        data-curl-alt-max="{{ $curl.alt_hold_max | default $altHold }}"
        data-curl-dynamic-steps="{{ $dynamicSteps }}"
        transform="translate(0 0)"
      >
        <g class="brand__mark-loop">
          <path class="brand__mark-loop-path" d="{{ $base }}">
            {{- if gt (len $variants) 0 -}}
              {{- $duration := $t -}}
              {{- if gt $duration 0 -}}
                {{- $keyTimes := slice -}}
                {{- range $times -}}
                  {{- $keyTimes = $keyTimes | append (printf "%.6f" (div (float .) $duration)) -}}
                {{- end -}}
                <animate
                  attributeName="d"
                  dur="{{ printf "%.1fs" $duration }}"
                  repeatCount="indefinite"
                  calcMode="linear"
                  keyTimes="{{ delimit $keyTimes ";" }}"
                  values="{{ delimit $values ";" }}"
                />
              {{- end -}}
            {{- end -}}
          </path>
        </g>
      </g>
      <line
        class="brand__mark-line brand__mark-line--right"
        data-js="brand-line-right"
        x1="24"
        y1="16"
        x2="24"
        y2="16"
      />
    </svg>
    <span class="brand__word brand__word--tail" data-brand-part="true">bjœːrn/</span>
  </a>
</div>
