<a class="menu-heading brand" href="/">
  <div class="brandcontainer">

<div>tor</div>
<div class="progress-bar" id="hyphen-left"></div>
<div class="curl">
  <svg width="20" height="11" viewBox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path class="hyphen" d="M20 10H18.5C12.7264 10 7.59434 9.59381 7.59434 3.82851C7.59434 0.0571337 12.7264 0.0571907 12.7264 3.82851C12.7264 9.58857 7.59434 10 1.5 10H0" stroke="var(--text-color)" stroke-width="1.5"/>
  </svg>       
</div>
<div class="progress-bar" id="hyphen-right"></div>

<div style="margin-left:2px;">bjorn.com</div>
</div>
</a>

