<div class="contact-form mt-80 mb-64 grid-1-3">
  <script type="text/javascript">
    var submitted = false;
  </script>
  <iframe
    name="hidden_iframe"
    id="hidden_iframe"
    style="display:none;"
    onload="if(submitted) {window.location='{{ "thankyou/" | absLangURL }}';}"
  ></iframe>
  <h2 class="type-headline-3 mb-16 hide-on-client">
    {{ i18n "contact_send_message" }}
  </h2>
  <form
    action="https://docs.google.com/forms/d/e/1FAIpQLSeKHQgkqMvOnUbTYaTILCzLO9fcdjGX8IWofk1qwKQodCPNzw/formResponse"
    method="post"
    target="hidden_iframe"
    onsubmit="submitted=true;"
  ></form>
  <form
    action="https://docs.google.com/forms/d/e/1FAIpQLSeKHQgkqMvOnUbTYaTILCzLO9fcdjGX8IWofk1qwKQodCPNzw/formResponse"
    method="post"
    target="hidden_iframe"
    onsubmit="submitted=true"
  >
    <label>{{ i18n "contact_name" }}</label>
    <input
      type="text"
      placeholder="{{ i18n "contact_name_placeholder" }}"
      class="form-input"
      name="entry.2022972415"
      required
    />

    <label>{{ i18n "Email_Address" }}</label>
    <input
      type="email"
      placeholder="{{ i18n "contact_mail_placeholder" }}"
      class="form-input"
      name="entry.1998719079"
      required
    />

    <label>{{ i18n "contact_subject" }}</label>
    <input
      type="text"
      placeholder="{{ i18n "contact_subject_placeholdert" }}"
      class="form-input mb-8"
      name="entry.549781090"
      required
    />

    <label>{{ i18n "contact_message" }}</label>
    <textarea
      rows="5"
      placeholder="{{ i18n "contact_message_placeholder" }}"
      class="form-input"
      name="entry.1646039502"
    ></textarea>

    <button type="submit" class="icon text-lg font-sans font-medium">
      {{ i18n "contact_submit" }}
    </button>
  </form>
</div>
