<div class="contact-form mt-80 mb-64 grid-1-3">
  <h2 class="contact-form__title type-headline-3 mb-16 hide-on-client">
    {{ i18n "contact_send_message" }}
  </h2>
  <form
    id="contact-form"
    class="contact-form__form"
    data-js="contact-form"
    action="https://hook.eu1.make.com/mmg61440srh4u1ttmfqdtho0ys6t9w27"
    method="post"
  >
    <label>{{ i18n "contact_name" }}</label>
    <input
      type="text"
      placeholder="{{ i18n "contact_name_placeholder" }}"
      class="contact-form__input form-input"
      name="name"
      required
    />

    <label>{{ i18n "Email_Address" }}</label>
    <input
      type="email"
      placeholder="{{ i18n "contact_mail_placeholder" }}"
      class="contact-form__input form-input"
      name="email"
      required
    />

    <label for="contact_subject">{{ i18n "contact_subject" }}</label>
    <input
      id="contact_subject"
      type="text"
      placeholder="{{ i18n "contact_subject_placeholder" }}"
      class="contact-form__input contact-form__input--subject form-input mb-8"
      name="subject"
      required
    />

    <label>{{ i18n "contact_message" }}</label>
    <textarea
      rows="5"
      placeholder="{{ i18n "contact_message_placeholder" }}"
      class="contact-form__textarea form-input"
      name="message"
    ></textarea>
    <p class="contact-form__note type-information mb-16 text-color-lighter">
      {{ i18n "re_captcha" }}
      <a href="https://policies.google.com/privacy" class="text-color-lighter"
        >{{ i18n "privacy_policy" }}</a
      >
      {{ i18n "and" }}
      <a href="https://policies.google.com/terms" class="text-color-lighter"
        >{{ i18n "terms_of_service" }}</a
      >
      {{ i18n "apply" }}.
    </p>

    <input
      type="hidden"
      name="g-recaptcha-response"
      id="recaptchaToken"
      data-js="contact-recaptcha"
    />
    <button
      type="button"
      id="submitButton"
      class="contact-form__submit g-recaptcha icon text-lg font-sans font-medium"
      data-js="contact-submit"
      data-sitekey="6LeDDAAqAAAAAHLkCglixFS15w54eLJyTocW4k7U"
      data-callback="onSubmit"
    >
      {{ i18n "contact_submit" }}
    </button>
    <p
      id="successMessage"
      style="display:none;"
      class="contact-form__message contact-form__message--success type-information mt-16 message"
      data-js="contact-success"
    >
      {{ i18n "contact_submitted" }}
    </p>
    <p
      id="errorMessage"
      style="display:none;"
      class="contact-form__message contact-form__message--error type-information mt-16 message"
      data-js="contact-error"
    >
      {{ i18n "contact_error" }}
    </p>
  </form>
</div>
