</main>
<footer>{{ partial "copyright.html" . }}</footer>
</div>

    <script src="{{ .Site.BaseURL }}js/ui.js"></script>
    <script src="{{ .Site.BaseURL }}js/header-line.js" defer></script>
    <script src="{{ .Site.BaseURL }}js/header-hide.js" defer></script>
    <script src="{{ .Site.BaseURL }}js/theme.js"></script>
    <script src="{{ .Site.BaseURL }}js/darkmode.js"></script>
    <script src="{{ .Site.BaseURL }}js/client-check.js"></script>

    
    {{ partial "google_analytics.html" . }}

    <script src="{{ .Site.BaseURL }}js/progressbar.js" defer></script>

    
    
