<div class="post-meta">

  <div class="post-meta__item">
    <i class="post-meta__icon fa fa-calendar fa-fw"></i>
    <time>{{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "02 Jan 2006, 15:04" }}{{ end }}</time>
  </div>

  {{ $baseUrl := .Site.BaseURL }}

  {{ if isset .Params "topics" }}
  {{ $count := len .Params.topics }}
  {{ if gt $count 0 }}
  <div class="post-meta__item">
    <i class="post-meta__icon fa fa-folder fa-fw"></i>
    {{ range $k, $v := .Params.topics }}
      <a class="post-meta__link post-meta__link--topic" href="{{ $baseUrl }}topics/{{ . | urlize }}">{{ . }}</a>{{ if lt $k (sub $count 1) }}&nbsp;&#47;{{ end }}
    {{ end }}
  </div>
  {{ end }}
  {{ end }}

  {{ if isset .Params "tags" }}
  {{ $count := len .Params.tags }}
  {{ $worksSlug := strings.TrimPrefix (i18n "works_url") "/" }}
  {{ $writingSlug := strings.TrimPrefix (i18n "writing_url") "/" }}
  {{ $tagSection := "tags" }}
  {{ if eq .Section "works" }}
    {{ $tagSection = printf "/%s/tags" $worksSlug }}
  {{ else if or (eq .Section "writing") (eq .Section "texter") }}
    {{ $tagSection = printf "/%s/tags" $writingSlug }}
  {{ end }}
  {{ if gt $count 0 }}
  <div class="post-meta__item">
    <i class="post-meta__icon fa fa-tags fa-fw"></i>
    {{ range $k, $v := .Params.tags }}
      <a class="post-meta__link post-meta__link--tag tag" href="{{ $baseUrl }}{{ $tagSection }}/{{ . | urlize }}">{{ . }}</a>{{ if lt $k (sub $count 1) }}&nbsp;&#47;{{ end }}
    {{ end }}
  </div>
  {{ end }}
  {{ end }}

</div>
