<div class="tag-list">

  {{ $baseUrl := .Site.BaseURL }}

  

  {{ if isset .Params "tags" }}
  {{ $count := len .Params.tags }}
  {{ if gt $count 0 }}
  <ul class="tag-list__items">
    {{ range $k, $v := .Params.tags }}
      <li class="tag-list__item">
        <a class="tag-list__link tag" href="{{ $baseUrl | relLangURL }}{{ i18n "works_url" }}/tags/{{ . | urlize }}">{{ replace . "ui-ux" "ui/ux" }}</a>{{ if lt $k (sub $count 1) }} {{ end }}
      </li>
    {{ end }}
  </ul>
  {{ end }}
  {{ end }}

</div>
