<div class="tag-list">

  {{ if isset .Params "tags" }}
  {{ $count := len .Params.tags }}
  {{ $section := .Section }}
  {{ if gt $count 0 }}
  <ul class="tag-list__items">
    {{ range $k, $v := .Params.tags }}
      <li class="tag-list__item">
        {{- $tagPage := false -}}
        {{- $tagSlug := . | urlize -}}
        {{- with index site.Taxonomies.tags $tagSlug -}}
          {{- $tagPage = .Page -}}
        {{- end -}}
        {{- if $tagPage -}}
          <a class="tag-list__link tag" href="{{ $tagPage.RelPermalink }}">{{ replace . "ui-ux" "ui/ux" }}</a>
        {{- else -}}
          <span class="tag-list__link tag">{{ replace . "ui-ux" "ui/ux" }}</span>
        {{- end -}}
        {{ if lt $k (sub $count 1) }} {{ end }}
      </li>
    {{ end }}
  </ul>
  {{ end }}
  {{ end }}

</div>
