{{ $related := site.RegularPages.RelatedIndices . "tags" | first 3 }}
{{ with $related }}
  <h3 class="mt-64 mb-8 type-headline-small hide-on-client">Related</h3>
  {{ range . }}
    <article id="related" class="hide-on-client">
      <div class="related-image line-height-tighter">
        <a href="{{ .Permalink }}">{{ partial "headerimage.html" . }}</a>
      </div>
      <header class="related-title">
        <h2 class="type-headline-4 mt-12">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h2>
        <div class="type-information text-color-lighter mb-12 mt-12">
          {{ partial "date.html" . }}
        </div>
      </header>
      {{ partial "post_tags.html" . }}
    </article>
  {{ end }}

{{ end }}
