{{ $related := site.RegularPages.RelatedIndices . "tags" }}
{{ $relatedFiltered := where $related ".Params.hidden" "!=" true }}
{{ with $relatedFiltered }}
  <h3 class="related-items__title mt-64 mb-8 type-headline-small hide-on-client">Related</h3>
  {{ range first 3 . }}
    <article class="related-items__item hide-on-client">
      <div class="related-items__image line-height-tighter">
        <a href="{{ .Permalink }}">{{ partial "headerimage.html" . }}</a>
      </div>
      <header class="related-items__header">
        <h2 class="type-headline-4 mt-12">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h2>
        <div class="type-information text-color-lighter mb-12 mt-12">
          {{ partial "date.html" . }}
        </div>
      </header>
      {{ partial "post_tags.html" . }}
    </article>
  {{ end }}

{{ end }}
