<div id="menu">
  <div id="menu-content">
  <div class="menu">
    <ul class="menu-list">
      {{ range .Site.Menus.start }}
      {{ if .HasChildren }}
        <li class="menu-item menu-has-children">
          <a class="menu-link" href="#">{{ .Pre }}{{ .Name }}</a>
          <ul class="menu-children">
            {{ range .Children }}
            <li class="menu-item">
              <a class="menu-link" href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
      {{else}}
        <li class="menu-item">
          <a class="menu-link" {{ printf "href=%q" .URL | safeHTMLAttr }}>{{ .Pre }}{{ .Name }}</a>
      {{end}}
        </li>
      {{end}}
      {{ partial "topmenu-items.html" . }}
    </ul>
    <h2 class="type-headline-small">Works</h2>
    <ul class="menu-list">
      {{ range .Site.Menus.all }}
      {{ if .HasChildren }}
        <li class="menu-item menu-has-children">
          <a class="menu-link" href="#">{{ .Pre }}{{ .Name }}</a>
          <ul class="menu-children">
            {{ range .Children }}
            <li class="menu-item">
              <a class="menu-link" href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
      {{else}}
        <li class="menu-item">
          <a class="menu-link" {{ printf "href=%q" .URL | safeHTMLAttr }}>{{ .Pre }}{{ .Name }}</a>
      {{end}}
        </li>
      {{end}}
    </ul>
  </div>


  {{ partial "tags_menu.html" . }}
  
  {{ partial "social.html" . }}

  {{ partial "theme.html" . }}

  {{ partial "copyright.html" . }}
</div>
</div>
