<menu id="menu">
  <div id="menu-content">
    <div class="menu">
      <ul class="menu-list">
        {{ $urlstart := .RelPermalink }}
        {{ range .Site.Menus.start }}
          <li class="menu-item menu-start">
            <a
              class="menu-link {{ if eq $urlstart (.URL | relLangURL) }}
                active
              {{ end }}"
              title="{{ .Name }}"
              href="{{ .URL | relLangURL }}"
              >{{ .Name }}</a
            >
          </li>
        {{ end }}
        {{ $urltop := .RelPermalink }}
        {{ range .Site.Menus.top }}
          <li class="menu-item hide-on-client topmenuitems">
            <a
              class="menu-link {{ if eq $urltop .URL }}active{{ end }}"
              title="{{ .Name }}"
              href="{{ .URL | relLangURL }}"
              >{{ .Name }}</a
            >
          </li>
        {{ end }}
      </ul>
    </div>

    {{ partial "tags_menu.html" . }}
    {{ partial "social.html" . }}
    {{ partial "theme.html" . }}
    {{ partial "copyright.html" . }}
  </div>
</menu>
