<div id="menu">
  <div id="menu-content">
  <div class="menu">
    <ul class="menu-list">
      {{ $urlstart := .URL }}
      {{ range .Site.Menus.start }}
        <li class="menu-item">
          <a class="menu-link {{ if eq $urlstart .URL }}active{{ end }}" title="{{ .Name }}" href="{{.URL}}">{{ .Name }}</a>
        </li>
      {{end}}
      {{ partial "topmenu-items.html" . }}
    </ul>

  </div>


  {{ partial "tags_menu.html" . }}
  
  {{ partial "theme.html" . }}
  
  {{ partial "social.html" . }}

  {{ partial "copyright.html" . }}
</div>
</div>
