<!-- Begin Mailchimp Signup Form -->
<div class="newsletter col-start-1 col-span-12">
  <div class="newsletter__signup reveal">
    <form
      action="https://tor-bjorn.us14.list-manage.com/subscribe/post-json?u=294f66f378d5370fcbc5aa02f&amp;id=74c003d094&amp;f_id=0075bce5f0&amp;c=?"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="newsletter__form validate"
      data-mc-form
      novalidate
    >
      <div id="mc_embed_signup_scroll">
        <h2 class="newsletter__title type-headline-2">{{ i18n "Newsletter" }}</h2>
        <p class="newsletter__text">{{ i18n "newsletter_text" }}</p>
        <div class="mc-field-group">
          <label for="mce-EMAIL">{{ i18n "Email_Address" }}</label>
          <input
            type="email"
            value=""
            name="EMAIL"
            class="required email form-input"
            id="mce-EMAIL"
            placeholder="{{ i18n "contact_mail_placeholder" }}"
            required
          />
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input
            type="text"
            name="b_294f66f378d5370fcbc5aa02f_74c003d094"
            tabindex="-1"
            value=""
          />
        </div>
        <div class="optionalParent">
          <div class="clear foot">
            <input
            type="submit"
            value="{{ i18n "Subscribe" }}"
            name="subscribe"
            id="mc-embedded-subscribe"
            class="newsletter__submit button"
          />
          </div>
        </div>
      </div>
      <div id="mce-responses" class="clear foot">
        <div
          class="response mc-response mc-response--error"
          id="mce-error-response"
          style="display:none"
        ></div>
        <div
          class="response mc-response mc-response--success"
          id="mce-success-response"
          style="display:none"
        ></div>
      </div>
    </form>
  </div>
  <!--End mc_embed_signup-->
  <div class="newsletter__illustration reveal reveal--delay">
    <div class="newsletter__mask"></div>
  </div>
</div>
