<div class="menu tags">
  
  <h2 class="type-headline-small">{{ i18n "Works"}}</h2>
    <ul class="menu-list">

    {{ $urlall := .RelPermalink }}
    {{ range .Site.Menus.all }}
        <li class="menu-item menu-tag">
          <a class="menu-link {{ if eq $urlall (.URL | relLangURL ) }}active{{ end }}" title="{{ .Name }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        </li>
    {{end}}


    {{ $currentURL := .Permalink }}
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
        {{ with $.Site.GetPage  (printf "/tags/%s" $name) }}
            <li class="menu-item menu-tag"><a class="menu-link {{ if eq $currentURL .Permalink }}active{{ end }}" title="{{ replace $name "-" " " }}" href="{{ .Permalink }}">{{ lower .Title }}
              </a>
            </li>
        {{ end }}
    {{ end }}

  </ul>
</div>