<div class="menu theme">
    <h2 class="type-headline-small">Settings</h2>
    <ul class="menu-list">
      <li class="menu-item">
        <div class="themeswitch">
          <button id="lang-toggle" class="menu-link font-sans font-medium text-sm" type="button">
            <span class="d-block-standard d-none">English</span>
            <span class="d-block-pant d-none">Svenska</span>
          </button>
        </div>
      </li>
      <li class="menu-item">
        <div class="themeswitch">
          <button id="theme-toggle" class="menu-link font-sans font-medium text-sm" type="button">
            <span class="d-block-standard d-none">Standard</span>
            <span class="d-block-pant d-none">Pantone</span>
          </button>
        </div>
      </li>
    </ul>
</div>
