<div id="topmenu">

  {{ partial "brand.html" . }}

  <div class="top-menu">
    <ul class="top-menu-list">
      {{ range .Site.Menus.top }}
      {{ if .HasChildren }}
        <li class="top-menu-item top-menu-has-children">
          <a class="top-menu-link" href="#">{{ .Pre }}{{ .Name }}</a>
          <ul class="top-menu-children">
            {{ range .Children }}
            <li class="top-menu-item">
              <a class="top-menu-link" href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
      {{else}}
        <li class="top-menu-item">
          <a class="top-menu-link" {{ printf "href=%q" .URL | safeHTMLAttr }}>{{ .Pre }}{{ .Name }}</a>
      {{end}}
        </li>
      {{end}}
    </ul>
  </div>
</div>
