<div class="menu topmenuitems">
  <ul class="menu-list">
    {{ range .Site.Menus.top }}
    {{ if .HasChildren }}
      <li class="menu-item menu-has-children">
        <a class="menu-link" href="#">{{ .Pre }}{{ .Name }}</a>
        <ul class="menu-children">
          {{ range .Children }}
          <li class="menu-item">
            <a class="menu-link" href="{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
    {{else}}
      <li class="menu-item">
        <a class="menu-link" {{ printf "href=%q" .URL | safeHTMLAttr }}>{{ .Pre }}{{ .Name }}</a>
    {{end}}
      </li>
    {{end}}
  </ul>
</div>
