{{ partial "header-client.html" . }}

{{ $style := resources.Get "css/clientpage.css" }}
{{ $css := slice $style | resources.Concat "client.css" }}


<link
  rel="stylesheet"
  type="text/css"
  href="{{ $css.Permalink }}"
  media="all"
/>

<div class="content application-page use-subgrid">
  <nav class="application-breadcrumb show-on-client">
    <ul>
      <li class="application-breadcrumb__item application-breadcrumb__item--caps">
        <a class="application-breadcrumb__link" href="{{ .Site.BaseURL | relLangURL }}">Start</a>
      </li>
      <!-- company_name for localstorage -->
      <li class="application-breadcrumb__item application-page__company application-breadcrumb__item--muted application-breadcrumb__item--caps">
        {{ .Params.company_name }}
      </li>
    </ul>
  </nav>
  <!-- span company name for localstorage -->
  <span class="application-page__company">{{ .Params.company_name }}</span>
  <ul class="toc mb-64 col-span-12">
    <li class="toc__header"><h3 class="type-headline-small">Table of content</h3></li>
    <li class="toc__item">
      <a href="#letter">Letter</a>
    </li>
    <li class="toc__item">
      <a href="#portfolio">Portfolio</a>
    </li>
    <li class="toc__item">
      <a href="#cv">CV</a>
    </li>
    <li class="toc__item">
      <a href="#download">Download</a>
    </li>
    <li class="toc__item">
      <a href="#contact">Contact</a>
    </li>
  </ul>

  <div class="col-start-1 col-span-8 application-page__main">
    <div class="application-page__section application-page__section--letter col-span-4 mb-64">
      <!-- put this just above the section you wanna go to -->
      <a id="letter"></a>
      <h3 class="type-headline-small mb-16 section-headline">Letter</h3>
      <div class="application-page__header">
        <h1 class="mb-16 type-headline-2">
          {{ .Title }}
        </h1>
      </div>
      <h2 class="mb-16 type-preamble">
        {{ .Params.preamble }}
      </h2>
      <div class="type-information text-color-lighter mt-0 mb-16">
        {{ partial "date.html" . }}
      </div>
      <p class="type-body">{{ with .Params.body }}{{ . | safeHTML }}{{ end }}</p>
    </div>

    <div class="application-page__section application-page__section--portfolio col-span-4 mb-64">
      <!-- put this just above the section you wanna go to -->
      <a id="portfolio"></a>
      <h3 class="type-headline-small mb-16 section-headline">Portfolio</h3>
      <div class="application-page__portfolio-grid grid-cols-2">
        {{ range .Data.Pages }}
          {{ .Render "summary-client" }}
        {{ end }}
      </div>
    </div>

    <div class="application-page__section application-page__section--cv col-span-4 mb-64">
      <!-- put this just above the section you wanna go to -->
      <a id="cv" class="col-span-4"></a>
      <h3 class="type-headline-small mb-16 col-span-4 section-headline">CV</h3>
      <div class="col-span-4">{{ partial "about_cv.html" . }}</div>
    </div>
  </div>

  <div class="col-start-9 col-span-4 application-page__sidebar">
    <div class="download-list mb-64">
      <!-- put this just above the section you wanna go to -->
      <a id="download" class="col-span-8"></a>
      <h3 class="type-headline-small mb-16 col-span-8 section-headline">
        Download
      </h3>
      {{ if .Params.attach_letter }}
        <a
          href="{{ printf "%s" $.Params.attach_letter }}"
          target="_blank"
          class="download-card col-span-4"
        >
          <div class="pdf-icon">
            <svg><use href="/img/svg/sprite.svg#icon-pdf"></use></svg>
          </div>
          <p class="download-card__item">
            {{ path.Base .Params.attach_letter }}
          </p>
          <div class="download-icon">
            <svg><use href="/img/svg/sprite.svg#icon-download"></use></svg>
          </div>
        </a>
      {{ end }}

      {{ if .Params.attach_portfolio }}
        <a
          href="{{ printf "%s" $.Params.attach_portfolio }}"
          target="_blank"
          class="download-card col-span-4"
        >
          <div class="pdf-icon">
            <svg><use href="/img/svg/sprite.svg#icon-pdf"></use></svg>
          </div>
          <p class="download-card__item">
            {{ path.Base .Params.attach_portfolio }}
          </p>
          <div class="download-icon">
            <svg><use href="/img/svg/sprite.svg#icon-download"></use></svg>
          </div>
        </a>
      {{ end }}

      {{ if .Params.attach_cv }}
        <a
          href="{{ printf "%s" $.Params.attach_cv }}"
          target="_blank"
          class="download-card col-span-4"
        >
          <div class="pdf-icon">
            <svg><use href="/img/svg/sprite.svg#icon-pdf"></use></svg>
          </div>
          <p class="download-card__item">
            {{ path.Base .Params.attach_cv }}
          </p>
          <div class="download-icon">
            <svg><use href="/img/svg/sprite.svg#icon-download"></use></svg>
          </div>
        </a>
      {{ end }}
    </div>

    {{ partial "print-buttons.html" . }}

    <!-- put this just above the section you wanna go to -->
    <a id="contact" class="col-span-8 anchor-offset"></a>
    <h3
      class="type-headline-small mb-16 col-span-4 show-on-client section-headline"
    >
      Contact
    </h3>
    {{ partial "contact_info.html" . }}
    {{ partial "contact_form.html" . }}
  </div>
</div>

<!-- Print footer with URL -->
<div class="print-footer">
  <span class="print-footer__label">View online:</span>
  <span class="print-footer__url">{{ .Permalink }}</span>
</div>

{{ partial "footer.html" . }}
