{{ partial "header.html" . }}

<div class="content startpage use-subgrid">
  <div class="post-header col-span-12">
    <h1 class="type-headline-small">{{ .Title }}</h1>
  </div>
  {{ $path := .RelPermalink }}
  {{ $pages := where .Data.Pages ".Params.hidden" "!=" true }}
  {{ if or (in $path "/works/tags/") (in $path "/arbeten/tags/") }}
    {{ $pages = where $pages "Section" "works" }}
  {{ else if or (in $path "/writing/tags/") (in $path "/texter/tags/") }}
    {{ $pages = where $pages "Section" "writing" }}
  {{ end }}
  {{- range $index, $page := $pages -}}
    {{- $isWide := or (eq $index 0) (eq $index 3) (eq $index 4) -}}
    {{- $mod := mod $index 6 -}}
    {{- if gt $index 5 -}}
      {{- $isWide = or (eq $mod 0) (eq $mod 3) (eq $mod 4) -}}
    {{- end -}}
    <div class="{{ if $isWide }}col-span-8 summary-card--wide{{ else }}col-span-4 summary-card--compact{{ end }}">
      {{ $page.Render "summary" }}
    </div>
  {{- end -}}
</div>

{{ partial "footer.html" . }}
