{{ partial "header.html" . }}

<div class="content list tag-page use-subgrid">
  <div class="taxonomy-header taxonomy-header--tag mb-8 col-span-12">
    <h1 class="type-headline-small">{{ .Title }}</h1>
  </div>
  {{ $path := .RelPermalink }}
  {{ $pages := where .Data.Pages ".Params.hidden" "!=" true }}
  {{ if or (in $path "/works/tags/") (in $path "/arbeten/tags/") }}
    {{ $pages = where $pages "Section" "works" }}
  {{ else if or (in $path "/writing/tags/") (in $path "/texter/tags/") }}
    {{ $pages = where $pages "Section" "writing" }}
  {{ end }}
  {{ range $pages }}
    {{ .Render "summary"}}
  {{ end }}
</div>

{{ partial "footer.html" . }}
