{{ partial "header.html" . }}

<div class="content post use-subgrid">
  <nav class="application-breadcrumb show-on-client">
    <ul>
      <li class="application-breadcrumb__item">
        <a class="application-breadcrumb__link" href="{{ .Site.BaseURL | relLangURL }}">Start</a>
      </li>
      <li class="application-breadcrumb__item application-breadcrumb__item--caps" data-js="application-breadcrumb-back">
        <a class="application-breadcrumb__link"></a>
      </li>
      <li class="application-breadcrumb__item application-breadcrumb__item--muted">{{ .Title }}</li>
    </ul>
  </nav>
  <nav class="application-breadcrumb show-on-employer">
    <ul>
      <li class="application-breadcrumb__item">
        <a class="application-breadcrumb__link" href="{{ .Site.BaseURL | relLangURL }}">Start</a>
      </li>
      <li class="application-breadcrumb__item application-breadcrumb__item--caps" data-js="application-breadcrumb-back-employer">
        <a class="application-breadcrumb__link"></a>
      </li>
      <li class="application-breadcrumb__item application-breadcrumb__item--muted">{{ .Title }}</li>
    </ul>
  </nav>
  <h1 class="type-headline-1 mt-0 mb-0 reveal">{{ .Title }}{{ if isset .Params "subtitle" }} – {{ end }}{{ .Params.subtitle }}</h1>
  <h2 class="type-preamble mb-16 mt-16 reveal">{{ .Description }}</h2>
  <div class="type-information text-color-lighter mt-0 mb-16 reveal"> {{ partial "date.html" . }}</div>
  <div class="mt-0 mb-16 reveal"> {{ partial "post_tags.html" . }}</div>
 
  {{ if .Truncated }}
    <div class="post-content prose">
      {{ .Summary | replaceRE "<p>\\s*</p>" "" | safeHTML }}
    </div>
    {{ partial "project-info.html" . }}
    {{ $rest := replace .Content .Summary "" }}
    <div class="post-content prose">
      {{ $rest | replaceRE "<p>\\s*</p>" "" | safeHTML }}
    </div>
  {{ else }}
    <div class="post-content prose">
      {{ .Content | replaceRE "<p>\\s*</p>" "" | safeHTML }}
    </div>
    {{ partial "project-info.html" . }}
  {{ end }}

  {{ partial "related.html" . }}
    <ul class="toc mt-64 mb-64 col-span-12 show-on-client reveal">
    <li class="toc__header"><h3 class="type-headline-small">Table of content</h3></li>
    <li class="toc__item">
      <a data-js="application-toc-letter" href="#">Letter</a>
    </li>
    <li class="toc__item">
      <a data-js="application-toc-portfolio" href="#">Portfolio</a>
    </li>
    <li class="toc__item">
      <a data-js="application-toc-cv" href="#">CV</a>
    </li>
    <li class="toc__item">
      <a data-js="application-toc-download" href="#">Download</a>
    </li>
    <li class="toc__item">
      <a data-js="application-toc-contact" href="#">Contact</a>
    </li>
  </ul>
</div>

{{ partial "footer.html" . }}
