{{ partial "header.html" . }}

<div class="content list tag-page use-subgrid">
  <div class="taxonomy-header taxonomy-header--tag mb-8 col-span-12">
    <h1 class="type-headline-small">{{ i18n "all_works" }}</h1>
  </div>
  <div class="tag-list col-span-12">
    <ul class="tag-list__items">
      {{- $defined := slice -}}
      {{- range .Site.Taxonomies.tags -}}
        {{- $hasWorks := false -}}
        {{- range .Pages -}}
          {{- if eq .Section "works" -}}
            {{- $hasWorks = true -}}
          {{- end -}}
        {{- end -}}
        {{- if $hasWorks -}}
          {{- $defined = $defined | append . -}}
        {{- end -}}
      {{- end -}}
      {{- range $defined -}}
        {{- with .Page -}}
        <li class="tag-list__item">
          <a class="tag-list__link tag" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{- end -}}
      {{- end -}}
    </ul>
  </div>
</div>

{{ partial "footer.html" . }}
