{{ partial "header.html" . }}

<div class="content list tag-page use-subgrid">
  <div class="taxonomy-header taxonomy-header--tag mb-8 col-span-12">
    <h1 class="type-headline-small">{{ i18n "all_works" }}</h1>
  </div>
  <div class="tag-list col-span-12">
    <ul class="tag-list__items">
      {{- range $tagName, $tagTerm := .Site.Taxonomies.tags -}}
        {{- $worksPages := where $tagTerm.Pages "Section" "works" -}}
        {{- if gt (len $worksPages) 0 -}}
          {{- with $tagTerm.Page -}}
          <li class="tag-list__item">
            <a class="tag-list__link tag" href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
          {{- end -}}
        {{- end -}}
      {{- end -}}
    </ul>
  </div>
</div>

{{ partial "footer.html" . }}
