<div class="about-cv mt-64">
<div class="about-cv__icon curl-icon"></div>

<h3 class="about-cv__title type-headline-3">What I’ve been up to</h3>

<div class="about-cv__columns">
<div class="about-cv__section">
<h4 class="about-cv__heading type-headline-small">Work</h4>
<p class="about-cv__text type-body-sm">
2016 –<br>
Art Director/Product designer, Lokalguiden<br>
2014 –<br>
Freelance Designer<br>
2013<br>
Internship Mecka, Borås
</p>
</div>

<div class="about-cv__section">
<h4 class="about-cv__heading type-headline-small">Selected clients</h4>
<p class="about-cv__text type-body-sm">Zentropa Sweden / Göteborgs Stad / Mecka / Forsify / Vårdporten / I-Racket AB</p>
</div>

<div class="about-cv__section">
<h4 class="about-cv__heading type-headline-small">Education</h4>
<p class="about-cv__text type-body-sm">2014 – 2016<br>
Master of Fine Arts in Design Acadamy of Design and Crafts, HDK<br>
2014 – 2016<br>
Bachelor of Fine Arts in Design Acadamy of Design and Crafts, HDK</p>
</div>

<div class="about-cv__section">
<h4 class="about-cv__heading type-headline-small">Exhibitions</h4>
<p class="about-cv__text type-body-sm">2015<br>
Fotobok Gbg 15 (Gothenburg Photobook Festival) – A-venue, Göteborg<br>
Exhibiting the Exhibition 2.0 – The Space, Göteborg<br>
2014<br>
HDK14 – Graduation Show HDK, Göteborg<br>
2013<br>
Framtidens Mässa – Svenska Mässan, Göteborg<br>
2012<br>
Svart Vit – Bildkällaren, Falköping<br>
2011<br>
Konstnatten – Turbinhusön, Tidaholm</p>
</div>

<div class="about-cv__section">
<h4 class="about-cv__heading type-headline-small">Scholarship</h4>
<p class="about-cv__text type-body-sm">2016<br>
Wilhelm & Martina Lundgrens Understödsfond / Theodor och Hanne Mannheimers fonden / Göteborgs Slöjdförenings Projektstipendie / Adlerbertska Premiestiftelsen<br>
2015<br>
Estrid Ericsons Stiftelse / Adlerbertska Premiestiftelsen / Helge Ax:son Johnsons Stiftelse<br>
2014<br>
Adlerbertska Premiestiftelsen</p>
</div>

</div>
</div>
