<div class="about-main grid-1-3">
  <h3 class="mb-32 type-headline-3">
    Produktdesigner baserad i Göteborg. Specialiserad på grafisk design med
    fokus på UI/UX.
  </h3>
  <p class="type-body">
    Hej! Mitt namn är Torbjörn Hedberg. Jag arbetar främst med att förverkliga
    idéer genom användargränssnitt för webb- och mobilapplikationer. Jag har
    dock en omfattande erfarenhet inom visuell kommunikation och har arbetat med
    projekt inom trycksaksdesign, illustrationer och animationer.
  </p>
  <br />
  <p>
    Som designer tacklar jag problem på olika nivåer, alltid med målet att skapa
    användarvänliga produkter och lösningar som är glädjande.
  </p>
  <h3 class="mt-32 mb-32 type-headline-3">
    Design thinking är ett tillvägagångssätt för problemlösning – grundat i den
    kreativa processen.
  </h3>
  <p>
    Jag samarbetar ofta nära med intressenter och team från olika fält. Detta
    samarbete ger inte bara insikt i användarens behov utan hjälper också till
    att strukturera teamet för att skapa framtidsinriktade produkter.
  </p>
  <br />
  <p>Kontakta mig gärna om du vill komma i kontakt!</p>
</div>
