<div class="about-main grid-1-3">
  <h3 class="mb-32 type-headline-3">
    Product designer based in Gothenburg. Specialized in graphic design with a
    focus on UI/UX.
  </h3>

  <p class="type-body">
    Hi! My name is Torbjörn Hedberg. As of now, I’m primarily involved in the
    process of bringing ideas to realization in the form of user interfaces for
    the web and mobile applications. I do, however, have a rich background in
    the field of visual communication, working with projects in print design,
    illustrations and animations.
  </p>
  <br />
  <p>
    Through my work as a designer I tackle problems on different levels; always
    with the goal of creating a user friendly products and solutions that are
    joyfull.
  </p>

  <h3 class="mt-32 mb-32 type-headline-3">
    Design thinking is an approach to problem solving – founded in the creative
    process.
  </h3>

  <p>
    I often work close together with steak holders and teams in a variety of
    fields. This allows me to, not only get insite into the needs of the user
    which is beeing designed for, but also to give structure to the team and to
    create products that has the future in mind.
  </p>
  <br />
  <p></p>
  <br />
  <p>Feel free to reach out if you want to connect!</p>
</div>
