<div class="contact-form mt-80 mb-64 col-start-1 col-span-6">
<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" 
onload="if(submitted) {window.location='{{ .Site.BaseURL }}/thankyou';}"></iframe>
<h2 class="contact-form__title type-headline-3 mb-16">Send me a message</h2>
<form action="https://docs.google.com/forms/d/e/1FAIpQLSeKHQgkqMvOnUbTYaTILCzLO9fcdjGX8IWofk1qwKQodCPNzw/formResponse" 
method="post" target="hidden_iframe" onsubmit="submitted=true;">
</form>
<form class="contact-form__form" action="https://docs.google.com/forms/d/e/1FAIpQLSeKHQgkqMvOnUbTYaTILCzLO9fcdjGX8IWofk1qwKQodCPNzw/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true">
  <label>Name*</label>
        <input type="text" placeholder="Your name" class="contact-form__input form-input" name="entry.2022972415" required>

  <label>Email*</label>
        <input type="email" placeholder="Email address" class="contact-form__input form-input" name="entry.1998719079" required>

   <label>Subject*</label>
        <input type="text" placeholder="Enter a subject" class="contact-form__input form-input" name="entry.549781090" required>

   <label>Message</label>
        <textarea rows="5" placeholder="Leave a message" class="contact-form__textarea form-input" name="entry.1646039502" ></textarea>

   <button type="submit" class="contact-form__submit button--icon text-lg font-sans font-medium">Send</button>
</form>
</div>
