<div class="contact-form mb-64 grid-1-8">
<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" 
onload="if(submitted) {window.location='/thankyou';}"></iframe>

<form action="https://docs.google.com/forms/d/e/1FAIpQLSeKHQgkqMvOnUbTYaTILCzLO9fcdjGX8IWofk1qwKQodCPNzw/formResponse" 
method="post" target="hidden_iframe" onsubmit="submitted=true;">
</form>
<form action="https://docs.google.com/forms/d/e/1FAIpQLSeKHQgkqMvOnUbTYaTILCzLO9fcdjGX8IWofk1qwKQodCPNzw/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true">
  <label>Name*</label>
        <input type="text" placeholder="Your name" class="form-input" name="entry.2022972415" required>

  <label>Email*</label>
        <input type="email" placeholder="Email address" class="form-input" name="entry.1998719079" required>

   <label>Subject*</label>
        <input type="text" placeholder="Enter a subject" class="form-input" name="entry.549781090" required>

   <label>Message</label>
        <textarea rows="5" placeholder="Leave a message" class="form-input" name="entry.1646039502" ></textarea>

   <button type="submit" class="icon text-lg font-sans font-bold">Send</button>
</form>
</div>